[2018-05-31 22:31] Keaton1188 opened #1 "Dw20 1.12 - Versions"
Hi there... noticed a few issues with pack versions..

The FTB Launcher is showing Dw20 having a recommended version of 1.11.0 but the website (overview) is only showing 1.10.0 as recommended, and for the 1.11.0 files it has the 1.10.0 server files on it...

[2018-05-31 23:20] SnowShock35 commented on #1
Fixed.

[2018-05-31 23:20] #1 closed

[2018-06-29 17:00] KewaiiGamer opened #2 "EnderIO is not included in 2.0.0"
Modpack Version: 2.0.0

Issue: EnderIO is not cinluded

Link to Log or Crash File Paste: unnecessary

Is it Repeatable?: yes

Mod/s Affected: EnderIO

Known Fix: Update modpack with EnderIO included

[2018-06-29 17:04] #2 closed

[2018-06-30 13:25] Drak0necal opened #3 "Astral aquamarine"
Modpack Version --> 2.0.0

Issue--> no aquamarine spawning

known fix -->I am not a modpack creator but I thunk it is the same problem as seventech ages were dog pelt is not spawning but here it is not being generated.

[2018-06-30 14:56] Kanzuke117 commented on #3
Changelogs show

[code]

It looks deliberate, but now the only way to get Aquamarine is void mining

[2018-06-30 15:38] rsandell opened #4 "Extreme Reactor not working after upgrade to 2.0.0"
* **Modpack Version**: 2.0.0

* **Issue**: After upgrading to 2.0.0 my 9x9x7 Extreme Reactor, chilled with cryotheum, isn't working.
It was full of fuel (uranium) before and after the upgrade. I first noticed that the opencomputers control program wasn't charging (same as DW uses in his single player). But manually stating it also doesn't work, the Reactor Control says "Status: Online" but it's no

[2018-06-30 15:49] rsandell commented on #4
Building a reactor from scratch works, it seems to be the upgrade that caused it to fail.
Will try next to build one in the same place as the old one.

[2018-07-01 02:57] Drak0necal commented on #3
This is so into the modpack ,if I am supposed to get into void mining which
I consider being mid their mod that need a decent amount a power to get a
good supply of them, so I found a way to get a good bit to start since you
need them the most early-game which is just search in the lootr chests of
the shrines.

And something else that does not have to do with the aquamarines , Is the
modpack is mi

[2018-07-01 05:46] deamontemps opened #5 "Portal issue"
Version: 2.0.0
Issue:I am running a server with a few players on. We are having an issue where sometimes the portals (mining world and nether) will randomly teleport the user to a random spot in blocks. This has happened alot.

I have an unmodified version of the modpack. Running a brand new world from the start of the update.

[2018-07-02 16:39] SnowShock35 commented on #3
@Kanzuke117 @Drak0necal

Aquamarine is supposed to generate it is not intended that it is off. The reason it's disabled in the Astral Sorcery config is that it's supposed to be done through CoFH World. For some reason, it doesn't appear to be working. I will take a look as soon as I can.

Apologies for this inconvenience

[2018-07-02 16:42] SnowShock35 commented on #4
@rsandell The reason for this happening is most likely due to the fact that I increased the max turbine size and somehow that has an effect on reactor multi-blocks. I'm not entirely sure but if I figure out why I'll let you know.

Otherwise as it stands this is solvable by replacing some elements of the reactor and since this update was recommended as a world restart update I will close this and s

[2018-07-02 16:42] #4 closed

[2018-07-02 23:07] Kanzuke117 opened #6 "JEI Max Subtypes disabled"
* **Modpack Version**: 2.0.0

* **Issue**: Mostly a minor cosmetic issue, but in the update to 2.0.0, `I:maxSubtypes=300` was deleted from `config/jei/jei.cfg`, which has let AE2 add pages upon pages of facade items to the JEI menu, one for almost every block. This can make finding items a pain, especially since AE2 comes high up in JEI's default sort. Searching for `glowing` to find _Extra Utilit

[2018-07-03 11:14] Quetzi opened #7 "Forge Hammer recipes missing"
* **Modpack Version**: 2.0.0

* **Issue**: Plate recipes for IC2 are inconsistent. You can make bronze and tin plates with the Forge Hammer, but not copper, iron or lead plates. Please re-add Forge Hammer recipes for iron, copper and lead plates.

[2018-07-03 21:34] gcheezydog opened #8 "Morph crash while changing dimensions"
* **Modpack Version**: 2.0.0

* **Issue**:  hard crash when teleporting through mining portal while morphing

* **Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/fe4e3a87

* **Is it Repeatable?**:  yes

* **Mod/s Affected**:  Morph-1.12.2-7.1.2

* **Known Fix**:

[2018-07-07 00:36] tmbates12 opened #9 "Thaumcraft Stabilizer crash"
* **Modpack Version**: 2.0.0

* **Issue**: Upon applying any source of power to the Stabilizer, the server will crash instantly, and this seems to be a known bug with the version of Thaumcraft 6 we are using.

* **Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/c4661bbc

* **Is it Repeatable?**: Yes

* **Mod/s Affected**: Thaumcraft 6 Beta 15

* **Known Fix**: This issue w

[2018-07-07 03:07] shellshock2020 commented on #3
I’m also having an issue where my wand is not showing rock crystals. The white particles that are supposed to be comming up through the ground, no luck.

[2018-07-07 03:15] shellshock2020 opened #10 "Astral sorcery rock crystal"
* **Modpack Version**: 1.12

* **Issue**: When looking for rock crystal while holding the wand from astral sorcery, I do not see particles coming from the ground. (This may be the same issue causing aquamarine to not spawn)

Even tried digging around underground for 1000s of blocks with no luck.

* **Mod/s Affected**:  Astral Sorcery

* **Known Fix**: None

[2018-07-07 12:39] Nemmisis opened #11 "Acane infusion tab crashing game."
* **Modpack Version**: <2.0.0>

* **Issue**: < When i click on the arcane infusion tab in the Thaumonomicon the game crashes. >

* **Link to Log or Crash File Paste**: < https://paste.feed-the-beast.com/view/bd061733 >

* **Is it Repeatable?**: < Yes >

* **Mod/s Affected**: < Thaumcraft 6 Beta 15 >

* **Known Fix**: <>

[2018-07-07 13:02] #11 closed

[2018-07-10 03:13] catfinch opened #12 "Coal Dup glitch"
* **Modpack Version**: 2.0.0
* **Issue**: Coal can be duplicated infinitely by grinding to dust in the SAG mill and smelting back to coal in a redstone furnace. Because the SAG mill can give more than one piece of coal dust, it's possible to get more than 1 piece of coal back from grinding a single piece, for a small portion of the power requirement.

* **Link to Log or Crash File Paste**: n/a (no

[2018-07-10 11:36] FridgeBoy opened #13 "Repeated crash during End Dragon Fight (Vanilla Dragon)"
* **Modpack Version**: 2.0.0

* **Issue**: Crash Upon loading into the game after the vanilla dragon landed in the center and used his breath attack

* **Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/4e9bb136

* **Is it Repeatable?**: I can log onto the server and keep crashin over and over again, but i can't recreate it in single player

* **Mod/s Affected**: No clue, a

[2018-07-10 17:58] xyzabc198 opened #14 "Game crashes when looking up uses for the Enhanced Combustion Generator in JEI"
Modpack Version: 2.0

Issue: Game crashes whenever pressing "u" (In JEI to see what uses it has) on an Enhanced Combustion generator.

Link to Log or Crash File Paste: The game crashed whilst rendering item
Error: java.lang.ClassCastException: it.unimi.dsi.fastutil.ints.Int2ObjectOpenHashMap cannot be cast to gnu.trove.map.hash.TIntObjectHashMap

Is it Repeatable?: Yes, just press "u" on the Enhan

[2018-07-10 18:15] Nirvana0137 opened #15 "Missing items in JEI and related crashes"
* **Modpack Version**: 2.0

* **Issue**: Several items like Thermal Foundation's Hardened Glass, several Immersive Engineering and Twilight Forest items are missing in JEI. There are just empty spaces in JEI and the items are not obtainable in survival mode. Further when opening a chest where one of the missing items like hardened glass are stored causes a crash of the game. I have added several m

[2018-07-10 19:06] AL0STG4M3R opened #16 "A bug and a crash."
* **Modpack Version**: 2.0.0 Beta

* **Issue**: Any world i load up i keep getting additional Astral Sorcery books and when looking through recipes i crash

* **Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/9288ac5c

* **Is it Repeatable?**: Yes.

[2018-07-11 16:31] SnowShock35 commented on #6
maxSubtypes was recently removed from JEI. it no longer exists. https://github.com/mezz/JustEnoughItems/commit/d3727c0043de32d83977da1ed1945af9d45cb481

[2018-07-11 16:31] #6 closed

[2018-07-11 18:48] SnowShock35 commented on #8
Thanks for the report. I can confirm that the issue is consistent. I've since spoken to the mod author of Morph who has asked me to tell you to avoid morphing in portals until the issue is fixed. It could be sometime before it is fixed due to the author's busy schedule. However, the issue is now known and will be fixed in due course.

Thanks for helping to better the packs stability. 👍

[2018-07-11 18:50] SnowShock35 commented on #9
Thanks for the report. I have updated Thaumcraft to Beta 17 in version 2.1.0 which will be released shortly.

Thanks for helping to better the packs stability. 👍

[2018-07-11 19:11] SnowShock35 commented on #13
Thanks for the report. I am unsure as to why you are experiencing this issue. It seems very odd indeed. Was the pack in any way modified?

Thanks for helping to better the packs stability. 👍

[2018-07-11 19:13] SnowShock35 commented on #14
Thanks for the report. It appears as if this issue has been solved in the latest update of the pack 2.1.0. When the update is available, please take the time to see if your issue is resolved and let me know here.

Thanks for helping to better the packs stability. 👍

[2018-07-11 19:19] Kanzuke117 opened #17 "Prismarine Dupe Recipes"
* **Modpack Version**: 2.0.0

* **Issue**: It is possible to dupe Prismarine through use of the Thermal Expansion Factorizer, which can turn Prismarine Bricks into 9 Shards, which can be turned into 2 Prismarine with the vanilla recipe, which can be turned into 2 Prismarine Bricks using a Chisel

* **Is it Repeatable?**: Yes

* **Mod/s Affected**: Thermal Expansion, Chisel

* **Known Fix**: I thin

[2018-07-11 19:20] SnowShock35 commented on #15
Thanks for the report. Please, could you go ahead and create a clean instance of the direwolf20 2.0.0 pack and run it without OptiFine. Once the pack is loaded try and create a new world and see if the items you described as missing now appear in JEI and whether or not hardened glass (which you can spawn in using the command /give) crashes your client when it tries to render it in your inventory.

[2018-07-11 19:30] FridgeBoy commented on #13
The pack was not modified in any way. Though to clear up a little confusion that might have occured, It's specifically the breath attack that leaves behind the circle of dragon breath which you can then right click with a bottle to get the "Dragon's Breath" item.

I was previously attacked by the sphere's the dragon shoots which also leave behind one of those "Dragon breath fields" which did not c

[2018-07-11 19:37] SnowShock35 commented on #13
Thanks for getting back to me so quickly. So far there are a few possibilities as to what is causing that issue. However, it's not easy to really know where or what the specific cause is. This could be a bug with Minecraft, Forge or a mod doing something.

I wish I could be of more help right now with this issue but I think it's going to take some time to get to the bottom of this one. I will upda

[2018-07-11 19:44] FridgeBoy commented on #13
my friend lordmau5 got into contact with me about how "Mattabase retweeted a SnowShock tweet about an extremely weird crash, He then checked who posted it and i saw my name" so i was informed pretty quickly about your answer

[2018-07-11 20:45] Nemmisis opened #18 "CTD"
* **Modpack Version**: 2.0

* **Issue**: game crashes when i open inventory.

* **Link to Log or Crash File Paste**:  https://paste.feed-the-beast.com/view/b1a6438e
* **Is it Repeatable?**: yes

* **Mod/s Affected**: JEI

* **Known Fix**:  I deleted JEI config file folder and now it works.

[2018-07-11 21:45] SnowShock35 commented on #16
Thanks for reporting these issues. In future please report different issues separately as it helps to know what has been fixed and what has not.

I'm unable to reproduce either of your issues here so please could you provide me with step by step instructions on both:

1. How the book keeps getting spawned
2. How you get to the game crashing

Also, Have you modified the modpack in any way and are y

[2018-07-11 21:57] SnowShock35 commented on #17
Thanks for reporting this issue. I can confirm that this indeed does cause a duplication bug. As it currently stands I'm not certain Factorizer recipes can be altered. Also, even if they could, being able to chisel between the three Prismarine varients shouldn't be allowed as their recipes cost different amounts of ingredients, therefore, they're not equal and therefore they shouldn't be chisel-ab

[2018-07-11 22:09] #18 closed

[2018-07-11 22:42] SnowShock35 commented on #5
Hi there,

Are you able to consistently repeat this bug?
Does it occur in singleplayer or multiplayer or both?
How do you go about reproducing this issue?

If you could let me know answers to these questions that would be most helpful and with them I can hopefully help solve the problem you're having today.

[2018-07-12 05:48] AL0STG4M3R commented on #16
I would load up the world save and exit and reloading it just spawns another.
i was trying to see what uses pulverized gold has it has four pages and when i try going to the second page it crashes with the crash report i gave a link to...
and as far as i know all i added is worldedit-forge-mc1.12-6.1.8-dist just in case I'm going to give you the latest log i have. https://paste.feed-the-beast.com/

[2018-07-12 13:40] Redeye123 opened #19 "Tiny Dry Rubber to Dry Rubber"
* **Modpack Version**: 2.0.0

* **Issue**: Tiny Dry Rubber to Dry Rubber Does not work as the recipe in JEI says

* **Link to Log or Crash File Paste**:
![untitled](https://user-images.githubusercontent.com/828563/42636769-d8dc6a2c-85e9-11e8-9610-84bccbdee6c4.png)

* **Is it Repeatable?**: Yes try to make Dry Rubber

* **Mod/s Affected**: Industial Foregoing

* **Known Fix**: Sadly No

[2018-07-12 13:47] geratheon commented on #19
Pretty sure this recipe works. Did you tried to restart your client (and your server)?

[2018-07-12 13:49] Redeye123 commented on #19
F me did a restart and it works just fine ...

[2018-07-12 13:49] #19 closed

[2018-07-12 17:32] Nirvana0137 commented on #15
I have installed 3 clean instances of the direwolf20 2.0.0 in a way that I downloaded the v 1.11.0 and updated it to 2.0.0 and in 2/3 cases the same error was occurring (missing items for IE, TF and TWF). However, the third instance is running fine without any missing items. I think that there is some problem occurring during the update to v 2.0.0. The third one also works fine with all my additio

[2018-07-12 17:32] #15 closed

[2018-07-13 06:38] gcheezydog opened #20 "Thaumcraft taint seed spawners. Intentional?"
* **Modpack Version**: 2.0.0
* **Issue**: Thaumcraft taint seeds are able to be duplicate in a enderio powered spawner.

* **Mod/s Affected**: Thaumcraft and EnderIO

[2018-07-13 11:26] HelpImDying opened #21 "Game Crash When using Thaumic inventory scanner"
FTB-Presents-Direwolf20-1.12-2.0.0

The game Crashes when using the Thaumometer to inventory scan after canning s few item and trying to put the Thaumometer back into an inventory slot it tries to scan the slot as air and the game crashes.

[crash-2018-07-12_01.35.21-client.txt](https://github.com/FTBTeam/FTB-Presents-Direwolf20-1.12/files/2190254/crash-2018-07-12_01.35.21-client.txt)

yes

Thaumi

[2018-07-13 13:41] SnowShock35 commented on #20
I will have to get back to you on this one. I'm uncertain whether or not this is a bug as I've yet to play Thaumcraft in 1.12

[2018-07-13 13:44] SnowShock35 commented on #21
There's a reason the mod isn't the pack. 😉

[2018-07-13 13:44] #21 closed

[2018-07-13 13:48] SnowShock35 commented on #16
Thanks for getting back to us.

Could you please try creating a fresh instance of the pack without adding any mods to see if that solves your issue?

Let us know how you get on with that or if you need any assistance with doing so.

[2018-07-13 14:24] #3 closed

[2018-07-13 14:24] #7 closed

[2018-07-13 14:24] #9 closed

[2018-07-13 14:24] #12 closed

[2018-07-13 14:24] #14 closed

[2018-07-13 14:24] #17 closed

[2018-07-13 14:24] #10 closed

[2018-07-13 16:34] HelpImDying commented on #21
Hey snowShaock35 might what to take a second look there cause thaumic inventory scanning is i the 2.0.0 mad pack

[2018-07-13 16:36] SnowShock35 commented on #21
![](https://ss.snowshock35.com/2018/07/1531499722-86b65d3d.png) This is a picture of my dev instance as you can clearly see it's not there

[2018-07-13 16:37] HelpImDying commented on #21
thats really odd cause i havent moddified the pack at all and have it

[2018-07-13 16:45] HelpImDying commented on #21
so sure enough on a new install its done not sure what happened to make it get in there but problem solved i guess

[2018-07-13 19:03] insectdude1258 commented on #13
This is happening on a server i play on as well.  Me and a friend immediately crashed upon entering the end. later after a server restart (im guessing dim became unloaded), i was able to log in. i attempted to fight the dragon, but crashed immediately after his breath attack. every time i would log into the server, i would hear a roar then crash. i tried setting all graphics options to lowest incl

[2018-07-13 19:49] Ozzymud commented on #12
Happens to Direwolf20 in his SevTech Ages let's play. I don't play on servers and have never seen it happen in SSP or LAN. But here is the episode, both Pahimar and him get stuck in the ground: https://youtu.be/KXYY4_rmjBI?t=752

[2018-07-13 19:49] Ozzymud commented on #5
Happens to Direwolf20 in his SevTech Ages let's play. I don't play on servers and have never seen it happen in SSP or LAN. But here is the episode, both Pahimar and him get stuck in the ground: https://youtu.be/KXYY4_rmjBI?t=752

[2018-07-14 16:23] jojo81jojo opened #22 "Destructor crashes server"
* **Modpack Version**:  "packVersion": "1.11.0", "packID": "FTBPresentsDirewolf20112",

* **Issue**: Trying to get the refined storage destructor to pick up a thermal expansion hardened flux duct crashes the server and it will not reload.  Server now crashes on start up.

* **Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/45a634ba

* **Is it Repeatable?**: I can post more

[2018-07-15 00:53] AL0STG4M3R commented on #16
Okay started a new instance and the issues was not there.Also i just remembered i also have optifine installed so i think either it is world edit or optifine causing it testing it out with optifine first.

[2018-07-15 02:13] AL0STG4M3R commented on #16
okay just tried with both of those and the issues are not present well it seems something went wrong with the install so issue resolved then i guess?Well i guess this can be closed then...

[2018-07-15 04:09] AL0STG4M3R commented on #16
okay retried my original instance but updated it to latest beta the recipe bug is gone but the astral tome duplication thing is still happening...

[2018-07-15 20:49] xjacoco opened #23 "Console Problem Spaming and makes lag."
* **Modpack Version**: Direwolf 1.12.2 2.1.0

* **Issue**: Console span makes lag

* **Link to Log or Crash File Paste**:https://paste.feed-the-beast.com/view/6d1053d5

* **Is it Repeatable?**: Its repeates all the time-

* **Mod/s Affected**: I  dont ´t know

* **Known Fix**: I donm´t know.... :C

[2018-07-16 12:40] batteryhun78 opened #24 "Actually Additions Dupe!"
* **Modpack Version**:  Direwolf20 2.1.0

* **Issue**: When placing a hopper top of a Double Crusher, or a Powered furnace, then placing an item, like 4 iron ore into the hopper, when looking into the Double Crusher/Powered Furnace, INPUT slot, the iron ore is doubled, or tripled, or 10x (4 iron ore, and got 40)

* **Link to Log or Crash File Paste**:

* **Is it Repeatable?**: <It is indeed>

* **

[2018-07-18 17:50] Fender4513 opened #25 "Cofh core multishot enchant"
* **Modpack Version**:

* **Issue**:

* **Is it Repeatable?**:

* **Mod/s Affected**:

* **Known Fix**:

[2018-07-18 17:50] #25 closed

[2018-07-19 10:24] Redeye123 opened #26 "When I returned from my RFTools Dimension all my baubles disappeared"
* **Modpack Version**: 2.1.0

* **Issue**: Just the baubles are gone nothing else still have all the ores i mined my armor as you can see just the baubles

* **Link to Log or Crash File Paste**: https://puu.sh/AZkXu/e88db6e0fc.png

* **Is it Repeatable?**: Have not succeeded

[2018-07-19 16:10] FridgeBoy opened #27 "Nether quartz Dupe"
* **Modpack Version**: 2.1.0

* **Issue**: Grinding Nether quartz in a SAG Mill has a 10% chance to give you a second Crushed nether quartz, which can then be smelted back into nether quartz

* **Link to Log or Crash File Paste**: not nessecary?

* **Is it Repeatable?**: Yes

* **Mod/s Affected**: Ender IO + Actually Additions

* **Known Fix**: Changing the SAG Mill output

[2018-07-19 16:16] SnowShock35 commented on #27
So that was supposed to be fixed in this version but it seems I missed something. Thanks @FridgeBoy I'll look at sorting this out.

[2018-07-19 16:56] FridgeBoy commented on #27
Heads up for another possible dupe i am going to post.
In the nether quartz case the main output as of right now can *not* be doubled by using a grinding ball, it is only the 10% chance of the secondary output which makes the dupe possible

[2018-07-19 16:56] FridgeBoy opened #28 "Blaze Rod Dupe"
* **Modpack Version**: 2.1.0

* **Issue**: using any grind ball which increases the chance of getting a main output doubling (including flint) can possibly give you 8 Blaze powder, which can then either be Compressed (IC2 Compressor) or Compacted (TE Compactor) into a Blaze rod for the cost of 5 Blaze powder

* **Link to Log or Crash File Paste**:

* **Is it Repeatable?**: yes

* **Mod/s Affected*

[2018-07-20 02:02] Siniq opened #29 "Immersive Engineering 0.12.83 causing second server instance to fail to start."
Modpack Version: 2.1.0

Issue: Unable to load into any save file more then once without Exitting Minecraft and launching FTB again from the MC Launcher.

Link to Log or Crash File Paste:
[18:12:00] [Server thread/INFO]: Preparing start region for level 0
[18:12:01] [Server thread/INFO]: Preparing spawn area: 58%
[18:12:02] [Server thread/INFO]: Preparing all world data
[18:12:02] [Server thread/ER

[2018-07-20 11:03] AntonLM opened #30 "EnderIO machines do not accept wireless power from Draconic wireless relays"
* **Modpack Version**: Direwolf20 1.12-1.12.2-2.1.0

* **Issue**: Since the latest DW20 update, EnderIO machines refuse to accept wireless power via binding to  Draconic wireless crystals (any tier).
All other (non-EnderIO) machines still do accept DE wireless power, as before. When I bind an EnderIO machine to a DE wireless crystal, the red beam glows for a few secs and then vanishes, and the mac

[2018-07-20 21:40] insectdude1258 commented on #30
In a SP world, i used a EIO creative capacitor with all tiers of I/O crystals and linked it to all tiers of wireless crystals and attempted to link them to EIO machines as well as a machine from another mod (actually additions) as a known working variable. It worked in pack version 2.0.0, and is broken in pack version 2.1.0

I have tested the mod versions.  It is the Ender I/O update that caused t

[2018-07-22 00:18] jinks commented on #26
This seems related to https://github.com/Azanor/Baubles/issues/262. Did you maybe "die", i.e. got saved from death by your Draconic Armor?

[2018-07-22 07:55] Critteros opened #31 "Thermal Dynamics with Optifine bug!"
I'm using newest version of direwolf20 modpack and I manually added Optifine mod to it. That caused
 condiuits from TD not to render properly. Any alternatives to optifine?
![2018-07-22_00 52 03](https://user-images.githubusercontent.com/41534816/43043497-61b16f7a-8d95-11e8-9c18-451a2df09231.png)

[2018-07-22 21:00] crwoody opened #32 "Can't load a game after exiting to main menu without restarting mod pack"
* **Modpack Version**: 2.1

* **Issue**: After saving and exiting game to main menu can't open any game or start a new one.  When restarting from twitch launcher minecraft loader says a minecraft instance is running.

* **Link to Log or Crash File Paste**:  Game does not crash

* **Is it Repeatable?**: yes

[2018-07-22 22:03] SnowShock35 commented on #31
Optifine **is not** supported.

[2018-07-22 22:03] #31 closed

[2018-07-22 22:06] #23 closed

[2018-07-22 22:16] Siniq commented on #32
This very likely an Immersive Engineering bug, as I had the same problem. See Issue #29.

[2018-07-23 08:31] #32 closed

[2018-07-23 08:32] SnowShock35 commented on #32
Duplicate of #29.

[2018-07-23 08:39] SnowShock35 commented on #16
I'm gonna say that the tome duplication thing is probably due to a mod you have added (Perhaps OptiFine - not 100% sure.) as I have not seen this issue and cannot seem to replicate it. Could you please try a fresh install of 2.1.0 with no alterations and load a fresh new world. See if the issue with the tomes duplicating happens now.

[2018-07-23 14:05] SnowShock35 commented on #24
@batteryhun78 Whatever it is you're describing I am unable to reproduce. Please, can you re-install version 2.1.0 (and in no way change the pack), then attempt to re-create the issue. If you're still having problems, please provide us with a step-by-step guide as to how you reproduce this issue. Thanks.

[2018-07-23 20:21] SnowShock35 commented on #24
I'm gonna put it down to a plugin or sponge forge as I wasn't able to
reproduce the issue. Best bet is to bring the issue up on the Actually
Additions Repo or Sponge Forge repo. :-)

On Mon, 23 Jul 2018, 20:26 batteryhun78, <notifications@github.com> wrote:

[2018-07-24 16:21] SnowShock35 commented on #5
@Ozzymud I am aware that it happens to Direwolf20 and Pahimar in that series, but that is a hunting dimension portal and a completely different pack all together. Are you experiencing this yourself? If so, what steps do you take for this issue to occur?

[2018-07-24 17:37] deamontemps commented on #5
Sorry I have only just seen your reply;

I can repeat the bug in a way. It happens to other players rather then more. And it can be hit or miss (not a controllable bug.

The bug so far Has only been seen online. ( I am using clanforge as a server host)

To reproduce the bug just go through the portal but as i have said its 50% chance of it happening.

I do have a few theories and we noticed once o

[2018-07-25 06:53] geratheon opened #33 "Pressing T with the mouse on an Item closes the RS Grid GUI"
* **Modpack Version**: 2.1.0

* **Issue**: Title. Pressing `t` with the mouse on an Item closes the Refined Storage Grid GUI (on all types of Grids).

* ~~**Link to Log or Crash File Paste**~~

* **Is it Repeatable?**: Yes

* **Mod/s Affected**: Refined Storage, Extra Utilities 2

* **Known Fix**: Rebind the "Search Nearby Inventories for Item" Keybinding from Extra Utilities 2

[2018-07-25 21:27] #22 closed, assigned to SnowShock35

[2018-07-26 00:46] bradleysjc opened #34 "JEI not showing up"
JEI toolbar and tooltips are no longer showing up. ive tried pressing O and going into the settings to change the controls but this did not work

[2018-07-26 04:52] Krutontar opened #35 "EnderIO Repellant Enchant crashes Mob Grinding Utils grinder."
* **Modpack Version**: 2.1.0 & 2.2.0

* **Issue**: World crash when a Mob Grinding Utils grinder encounters the new EnderIO Repellent enchant on a mob.

* **Link to Log or Crash File Paste**: https://pastebin.com/Uuq4qZSJ

* **Is it Repeatable?**: Yes

* **Mod/s Affected**: Mob Grinding Utils, EnderIO

* **Known Fix**: The issue is listed in EnderIO's tracker.  Their next update is supposed to all

[2018-07-26 06:43] SnowShock35 commented on #34
The hotkey for making JEI show up isn't `O` it's `Ctrl+O`. Try this and if that doesn't work, try a fresh install of the pack. It's possible the update failed to complete 100%.

Let me know how you get on.

[2018-07-26 12:01] Luckyday84 opened #36 "Game Client crashes as soon as I login to my server"
version 2.1.0

When I get close to my cursed earth mob farm in a thumcraft magic biome I get this crash on my client but only my client server stay running fine.

https://pastebin.com/BkaXsVkN
https://pastebin.com/wHkk2LnE
https://pastebin.com/sZ5eTR1Q

Yes

Maybe Thaumcraft and Iron chest not 100% sure

No ive tried removing iron chest with no luck. It looks similar to Repeated crash during End D

[2018-07-26 15:18] SnowShock35 opened #37 "Extra Utilities 2 - Simple Hopper Recipe - Not Working in 2.2.0"
TODO: Fix this recipe in the next update.

[2018-07-28 22:02] BrickVoid opened #38 "Bug with inventory sorting and Forestry Mining Backpack."
* **Modpack Version**: 2.2.0

* **Issue**: Scroll wheel clicking in a Forestry Mining backpack to sort it deletes all items except one item and does not give them back.  It additionally does not sort the items as intended for this function.  When this happened, all items vanished and were replaced with a stack containing 25 Actually Additions Black Quartz.  Items from EnderIO, Immersive Engineerin

[2018-07-29 13:25] BubbaVB opened #39 "Refined Storage auto-crafting with fluids no longer works"
* **Modpack Version**: 2.2.0

* **Issue**: Prior to the release of 2.2.0 I was able to auto-craft with fluids stored in Refined Storage.  I have completely rebuilt the crafting pattern and this did not help resolve the issue.  I know there were upgrades to Refined Storage that is in the version so this may be an issue specifically with that mod.

* **Link to Log or Crash File Paste**: This issue d

[2018-07-29 18:46] AshenPheonix opened #40 "Major Bug"
* **Modpack Version**: Both 2.1.0 and 2.2.0

* **Issue**: changing windows causes internal server on single player games to disconnect from client... which is itself. Also, Ender Pearls can be pulverized to dust, and then again into powder. Powder causes a recipe conflict between portal gun and ender io, one wants a full grid to return to dust, the other to return to an ender pearl.

* **Link to L

[2018-07-30 20:17] JordanAuthxr opened #41 "Can't connect to server, internal exception error."
* **Modpack Version**: 2.1.0

* **Issue**: When joining a server on this modpack it gives me an internal exception error, or just "Disconnected" but mainly an internal exception. This is very frustrating as I'm trying to join a small server with friends but I just can't.

* **Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/65c5c029

* **Is it Repeatable?**: Its happened ev

[2018-07-31 19:54] Krutontar commented on #35
Here is the link to their tracker for the issue.  Looks resolved for next release whenever that is.
https://github.com/SleepyTrousers/EnderIO/issues/4745

[2018-07-31 20:05] TheMajesticPickle commented on #41
Im having similar issues. What Ive tried is disabling all app behavior-based and website virus protection and usually you can get in a server eventually, but there is surely an issue within the pack itself because it is still difficult for people to join.

The closest thing Ive seen to this issue and its solution was an issue within forestry. Try disabling forestry and its dependents within the se

[2018-07-31 20:10] TheMajesticPickle opened #42 "Ender io gears not craftable?"
* **Modpack Version**:  2.1.0

* **Issue**:  my friends on my small server were trying to make ender io machines, but it wouldnt let him craft the gears for them. A few other very similar issues occurred to lead me to beleive there is a de-sync between jei (server side) and the client, cause IC2 recipes dont show for me (but the items themselves do show in jei), and a few other issues i cant remem

[2018-08-02 01:08] hk112 opened #43 "i found a doop bug"
i had the moveing wand from not enough wands in my hand i was faceing a multi-block from immersive engineering and hold right click with and it dooped the block that was there before the multiblock was formed

[2018-08-02 01:09] hk112 commented on #43
i am on the dirediscord as well if want to see it in action i do i share screen call thing so you can see it

[2018-08-03 20:22] TheMajesticPickle commented on #42
It has become clear to me that uncraftable gears is intentional, I shouldntve opened this.

[2018-08-03 20:22] #42 closed

[2018-08-07 21:14] ShadowSans55 opened #44 "Biome Marker Crash"
* **Modpack Version**: 2.2.0

* **Issue**: Game crashes when trying to craft a Biome Marker from Extra Utilities 2 with the autoplace items option from JEI.

* **Link to Log or Crash File Paste**: No crash report it seems.

* **Is it Repeatable?**: Yes.

* **Mod/s Affected**: Extra Utilities 2, JEI, Refined Storage (tried crafting it there).

[2018-08-08 00:59] Daboudreaux opened #45 "Lag spikes"
* **Modpack Version**: 2.2.0
* **Issue**: I played at first without much issue.  Then yesterday I started getting lag spikes so bad that the game would freeze up every minute.   I'm not sure if it's related but now I have some options in the top left corner that appear to be for multiplayer, but I'm not playing multiplayer.  I'm just doing Singleplayer.

* **Link to Log or Crash File Paste**:
[lat

[2018-08-08 21:09] Daboudreaux commented on #45
I solved the problem by going back to the default resource pack, but now I have no sounds.

[2018-08-10 20:21] enderger opened #46 "Release version 2.2.0"
* **Modpack Version**: 2.2.0

* **Issue**: It seems to be more stable than the release, and it probably should be the new release.

* **Is it Repeatable?**: N/A

* **Mod/s Affected**: N/A

* **Known Fix**: N/A

[2018-08-12 00:07] TwoPointInfinity opened #47 "MeeCreeps' Creep Cube Duplicates (x2) Thermal Expansion"
* **Modpack Version**: FTB Direwolf20 modpack version 2.2.0 release (8/11/18) & 2.1.0

* **Issue**: When used to flatten an area any MeeCreep will drop 2 of the broken block/machine from thermal expansion. When done on a strongbox full of items all items will be duplicated inside the strongbox (no matter what items they are inside or what mod they're from), as will all other inventories from Therm

[2018-08-12 01:13] TwoPointInfinity commented on #41
If i could upvote this i would. This needs to be addressed. I get disconnected while joining servers as well sometimes and i also get kicked as well. i have my own server where this is a constant issue and i am willing to provide any information needed to getting this fixed as its the main issue i have.

[2018-08-12 02:05] TwoPointInfinity opened #48 "Portal gun from MeeCreeps - End Dimension"
* **Modpack Version**: 2.2.0 and 2.1.0

* **Issue**: Using the meecreeps portal gun to leave the  End dimension messes up the inventory automatic refreshing. It seems you have to do something to refresh your inventory yourself like move something or open the trash can or another inventory to actually show something move.

* **Is it Repeatable?**: Yes. Use the portal gun to travel from The End to t

[2018-08-12 04:48] WoodwardWolf opened #49 "Applied Energistics 2 Mod Disabled"
* **Modpack Version**: 2.2.0

* **Issue**: I used to watch Direwolf all the time two or so years ago, so like old times I installed the mod package, turned his series on YouTube on the TV and started playing Minecraft the way it should be played. Unfortunately, I only made it to episode two when Dire built the 'Quartz Grindstone' from the mod 'Applied Energistics 2'. Here is where I had the issue,

[2018-08-12 14:59] SnowShock35 commented on #49
@WoodwardWolf Do any of the AE2 items show up? E.g. the ore or any of the ae2 blocks in JEI?

[2018-08-12 17:01] #46 closed

[2018-08-12 17:35] EmberQuill commented on #49
It looks like it's specifically the EnderIO Wooden Gear that has issues. I've run into the same problem myself. The Wooden Gear has four different recipes according to JEI, but only one of them crafts a wooden gear. Two of them craft other things and one of them crafts an invisible disabled item from AE2.

![Image](https://i.imgur.com/9pBOZCt.png)
![Image](https://i.imgur.com/B1ZvO5d.png)
![Image]

[2018-08-12 17:39] SnowShock35 commented on #49
Okay, I see what's going on here.

So yes the AE2 gear is disabled. This is because of a feature in AE2 called ore camouflaging where if another mod adds a wooden gear it's one gets disabled but it appears that it's not working correctly as the recipe for some odd reason is still appearing.

You have also pointed out to me from those screenshots that there are a few recipe conflicts with EIO woode

[2018-08-14 01:00] WoodwardWolf commented on #49
That's fantastic, just glad you know what the issue is. I'll use that last recipe and move on, for now, thank you!

Appreciate all that you guys do

[2018-08-14 02:09] JordanAuthxr commented on #41
Yea I just gave up, couldn't fix it.

[2018-08-16 21:25] Mc-man165 opened #50 "World randomly freezes"
* **Modpack Version**: 2.2.0

* **Issue**: Randomly my world just freezes and i cant open anything or interact with anything, i can still move around the world though. When looking at blocks the "waila" says waiting for server. I have left it for 10-15 min and nothing changes

* **Link to Log or Crash File Paste**: [https://paste.feed-the-beast.com/view/c82ad24a](url)

* **Is it Repeatable?**: It

[2018-08-19 14:07] Buzz1971 opened #51 "minetogether issue server not being list in public list"
I have had my server on the public list, it was working fine I was getting new players on a daily basis and all of a sudden it stopped not sure what I did, I have tried to reset the server.properties like I did when I was able to list my server in the public list.
I have even updated the mod minetogether and went to latest release still nothing but I am getting this message currently in my console

[2018-08-20 13:16] BlueLueBoy opened #52 "Direwolf20 - Reborn Storage 3.2 ignores crafting CPUs"
* **Modpack Version**: 2.2.0

* **Issue**: The reborn storage multiblock seems to ignore crafting CPUs for crafting operation speed. It does accept them as valid blocks and the refined storage controller lists them draining 1 FE/t for each of them but no matter how many I put in the multiblock, the crafting speed remains the same: very slow, whether there are none, one or several dozens…

* **Link

[2018-08-20 15:54] RayYung opened #53 "Thermal Expansion machine losing settings when upgrade from 2.1.0 to 2.2.0"
* **Modpack Version**: upgrade from 2.10 to 2.2.0

* **Issue**: When I upgrade, all TE machines "forgot" their orientation, tier and sides, some TE machines also lost the texture, some TD duct disconnected and many random connector in the wrong direction.

* **Link to Log or Crash File Paste**: (will come next)

* **Is it Repeatable?**: I removed and reinstalled the pack and still happen. Also try

[2018-08-20 18:26] RayYung commented on #53
Before upgrade:
![2018-08-20_12 02 51](https://user-images.githubusercontent.com/32179642/44358786-f8677180-a483-11e8-8665-774107eb38ef.png)

After:
![2018-08-20_14 20 52](https://user-images.githubusercontent.com/32179642/44358929-64e27080-a484-11e8-8d10-1d1b60715daa.png)
![2018-08-20_14 21 25](https://user-images.githubusercontent.com/32179642/44358932-67dd6100-a484-11e8-81c6-9a9f919893d6.png)

[2018-08-21 19:33] BlueLueBoy commented on #52
'K, I have found an easy and quite classical workaround: I updated all four refined/reborn storage mods to latest versions and it's now working as it should...

[2018-08-21 22:43] RayYung commented on #53
Any one have suggestion for me? Should I just continue playing and trying to fix one by one ;
or roll back and wait and hope for a fix?

[2018-08-22 19:36] RayYung commented on #53
I think I have to, just find yesterday the machines keep "forgot" after I
fix and save......

--
Raymond Yung
MCITP, MCTS, MCSA
RaymondY88@Gmail.com

On Wed, Aug 22, 2018, 3:25 PM Mc-man165 <notifications@github.com> wrote:

[2018-08-22 20:27] Kanzuke117 commented on #53
I think I may have had the same issue on a multiplayer server, after updating from 2.0.0 to 2.2.0.

Two chunks in particular were full of errors like the ones I can see in your screenshots, primarily affecting Refined Storage, Thermal Expansion, Draconic Evolution, and Chisel and Bits. Cables no longer seeming to be attached, chisel blocks missing, importers, exporters and crafters missrotated, et

[2018-08-22 22:07] RayYung commented on #53
You are right, after I walk around and try to fix them. I found that there are more things corrupted then just Thermal.
And yes, they keep going bad after I unload and reload...

[2018-08-22 22:40] Kanzuke117 commented on #53
Well, at least you have a backup from before the upgrade. If can, try updating mods one by one by copying the jars from a 2.2 install into a 2.1 install, and seeing if any one or combination of updates caused this issue. If you can find something, hopefully updating from 2.1 to a 2.3.0 pack could be the solution

[2018-08-24 22:52] Zidane3838 opened #54 "Looking at enderIO recipes causes crash?"
* **Modpack Version**: 1.12-1.12.2-2.2.0

* **Issue**: checking recipes for quite clear glass and capacitor bank locks up minecraft and completely crashes.

* **Link to Log or Crash File Paste**: crash 1: https://paste.feed-the-beast.com/view/5eabf8da
crash 2: https://paste.feed-the-beast.com/view/a6d522fb
I got this each time too: https://paste.feed-the-beast.com/view/9a1e6826

* **Is it Repeatab

[2018-08-26 06:36] RayYung commented on #54
It did the same to me a while ago but I didn't give much thought about it. It was 2.0.0 or 2.1.0 but I thought I would mention it.

[2018-08-27 08:57] SnowShock35 commented on #51
Please follow the issue template provided.

[2018-08-27 08:57] #51 closed

[2018-08-27 08:59] SnowShock35 commented on #52
Thank you for reporting this issue. The next update will include updates to these mods natively in the mod pack. For the time being yes your workaround will work just be cautious as no further support will be offered if you have a modified version of the pack.

[2018-08-27 09:01] SnowShock35 commented on #5
Doesn't look like there's any resolution to this issue. At least that I can find. My advice is to keep on top of the pack updates and see if it fixes itself in time. There will be a new update soon which should fix a lot of issues so fingers crossed that should help. Unfortunately, that is all I can suggest at this time.

[2018-08-27 09:01] #5 closed

[2018-08-28 06:11] Zidane3838 commented on #54
happened just now with the SAG Mill. Had my buddy also try it out and it also crashed his game.

[2018-09-01 16:54] Ugame45 opened #55 "State engine was in incorrect state World wont Load"
As the title said world wont load tried looking around but couldnt find a solution

Modpack version-2.2.0

Issue-Everytime i try and load in my singleplayer world it will not load up and basically be stuck in the loading screen with no words or anything

Link to Log or Crash File Paste: https://pastebin.com/iaUAVMri

Is it Repeatable?: yes i've tried several times i even reinstalled the pack

Mod/

[2018-09-02 01:48] VT-14 opened #56 "Thaumcraft Plate Recipes"
* **Modpack Version**: All versions I have seen that include Thaumcraft 6 (2.0.0-2.2.0)
Included in the log is a custom modified versions 2.2.0.

* **Issue**: Thaumcraft's default plate crafting recipe (3 Ingots in a line = 3 Plates) was removed.  By default, they are only craftable using the Thermal Expansion Compressor or Immersive Engineering (Brass Plates can also be crafted using the Tinkers'

[2018-09-02 23:50] ciukoschi opened #57 "performance problem"
i have a rx580 8gb and I want to understand if it is normal for the graphic performance to be completely filled to the point where i do 1 fps
 modpack version: 2.2.0

[2018-09-03 07:44] mkoz1212 opened #58 "Draconic Wireless Relay don't connect to most blocks."
* **Modpack Version**: 2.20

* **Issue**: Draconic Wireless Relays don't connect to most of other mods blocks, like EnderIO or EnvironmenalTech

* **Link to Log or Crash File Paste**: no crash happens

* **Is it Repeatable?**: Yes, easiest way is to have a wireless relay and try to connect to Tier1 VoidOreMiner from EnvironmentalTech. First it is showing the connection, but after a few seconds it

[2018-09-05 14:31] StratCat00 opened #59 "Arcane Bellow recipe not working"
* **Modpack Version**: Direwolf20-1.12 Version 2.2.0

* **Issue**: Trying to craft Arcane Bellow and it is not working

* **Is it Repeatable?**: Yes

* **Mod/s Affected**: Thaumcraft 6.1.BETA19

[2018-09-06 07:59] tconnard commented on #39
Isn't fluid auto-crafting added in 1.6.1?
It would be nice to have this though.

[2018-09-06 12:54] SnowShock35 commented on #13
Since this issue has been sat dormant for so long I'm gonna go ahead and assume that it has been fixed in a later mod version that was included in an update after 2.0.0.

[2018-09-06 12:54] #13 closed

[2018-09-06 13:14] SnowShock35 commented on #26
I'm unable to replicate this issue in the most up to date dev environment of the pack. Please await the release of the 2.3.0 DW20 update and test this once more.

[2018-09-06 13:18] SnowShock35 commented on #30
This is fixed in the development version of the modpack. Please await the release of 2.3.0 which should fix your issue.

[2018-09-06 13:19] #34 closed

[2018-09-06 14:39] AntonLM commented on #30
Thank you! :-)

[2018-09-06 14:41] SnowShock35 commented on #35
Hello @Krutontar

Thank you for your contribution to the FTB Presents Direwolf20 1.12 mod-pack. Your involvement greatly helps to improve the quality of the product and keep it bug-free and more enjoyable for everyone. Without your input, the pack would cease to be as good as it is.

I am delighted to inform you that this issue has been addressed in the recent development of the mod-pack and will

[2018-09-06 18:56] #36 closed

[2018-09-07 07:51] SnowShock35 commented on #39
Hello,

Thank you for your contribution to the FTB Presents Direwolf20 1.12 mod-pack. Your involvement greatly helps to improve the quality of the product and keep it bug-free and more enjoyable for everyone. Without your input, the pack would cease to be as good as it is.

I am delighted to inform you that this issue has been addressed in the recent development of the mod-pack and will be fixed a

[2018-09-07 08:33] SnowShock35 commented on #40
Hello @AshenPheonix,

In future please do not combine issues. This is a bad practice to use and will make solving issues more difficult, to begin with.

Since this is a combination of issues it will be marked as invalid and closed immediately. However, on this one occasion, I will inform you that your issues should be fixed as of 2.3.0.

**SnowShock35 ☃️**

***

[2018-09-07 08:33] #40 closed

[2018-09-07 08:42] SnowShock35 commented on #41
Hello Everyone,

Thank you for your contribution to the FTB Presents Direwolf20 1.12 mod-pack. Your involvement greatly helps to improve the quality of the product and keep it bug-free and more enjoyable for everyone. Without your input, the pack would cease to be as good as it is.

Apologies for the lateness of the reply. I was unaware for quite some time what was causing this issue as well as th

[2018-09-07 08:55] SnowShock35 commented on #43
You have failed to comply with the issue template set out on this repository. As a result of your actions, this issue will now be closed and locked indefinitely.

Failure to comply with or challenging this rule repeatedly will result in all further issues you post being ignored.

The issue template is designed to make reporting issues easier for users and fixing issues easier for us. By failing to

[2018-09-07 08:55] #43 closed

[2018-09-07 09:26] SnowShock35 commented on #44
Hello @ShadowSans55

Thank you for your contribution to the FTB Presents Direwolf20 1.12 mod-pack. Your involvement greatly helps to improve the quality of the product and keep it bug-free and more enjoyable for everyone. Without your input, the pack would cease to be as good as it is.

I have confirmed that this issue still exists in the latest version of Refined Storage/Extra Utilities/Just Enou

[2018-09-07 09:27] #45 closed

[2018-09-07 09:30] SnowShock35 commented on #45
Hello @Daboudreaux

Thank you for your contribution to the FTB Presents Direwolf20 1.12 mod-pack. Your involvement greatly helps to improve the quality of the product and keep it bug-free and more enjoyable for everyone. Without your input, the pack would cease to be as good as it is.

I'm glad to hear that you figured it out. As a word of warning always restart your game if you change your resour

[2018-09-07 10:04] SnowShock35 commented on #47
Hello @TwoPointInfinity

Thank you for your contribution to the FTB Presents Direwolf20 1.12 mod-pack. Your involvement greatly helps to improve the quality of the product and keep it bug-free and more enjoyable for everyone. Without your input, the pack would cease to be as good as it is.

As it stands right now, I am unable to circumvent this issue in any way. I've spoken with McJty and even he'

[2018-09-07 10:10] SnowShock35 commented on #48
Hello @TwoPointInfinity

Thank you for your contribution to the FTB Presents Direwolf20 1.12 mod-pack. Your involvement greatly helps to improve the quality of the product and keep it bug-free and more enjoyable for everyone. Without your input, the pack would cease to be as good as it is.

This issue will shortly be reported to McJty (if it hasn't already). I will update this issue when there is

[2018-09-07 10:50] SnowShock35 commented on #49
Hello @WoodwardWolf

Thank you for your contribution to the FTB Presents Direwolf20 1.12 mod-pack. Your involvement greatly helps to improve the quality of the product and keep it bug-free and more enjoyable for everyone. Without your input, the pack would cease to be as good as it is.

I am delighted to inform you that this issue has been addressed in the recent development of the mod-pack and wi

[2018-09-07 11:20] SnowShock35 commented on #50
Hello @Mc-man165

Thank you for your contribution to the FTB Presents Direwolf20 1.12 mod-pack. Your involvement greatly helps to improve the quality of the product and keep it bug-free and more enjoyable for everyone. Without your input, the pack would cease to be as good as it is.

To my knowledge, this issue should be resolved in the upcoming version of the mod pack. I'd like to apologise for t

[2018-09-07 11:26] SnowShock35 commented on #57
You have failed to comply with the issue template set out on this repository. As a result of your actions, this issue will now be closed and locked indefinitely.

Failure to comply with or challenging this rule repeatedly will result in all further issues you post being ignored.

The issue template is designed to make reporting issues easier for users and fixing issues easier for us. By failing to

[2018-09-07 11:26] #57 closed

[2018-09-07 11:32] SnowShock35 commented on #58
Hello @mkoz1212

Thank you for your contribution to the FTB Presents Direwolf20 1.12 mod-pack. Your involvement greatly helps to improve the quality of the product and keep it bug-free and more enjoyable for everyone. Without your input, the pack would cease to be as good as it is.

I am delighted to inform you that this issue has been addressed in the recent development of the mod-pack and will b

[2018-09-07 12:40] RayYung commented on #53
@SnowShock35
SnowShock,

Care to share which Mod you think is causing the problem?
I will disable or update that Mod if that will let me continue to play..

Thanks,

[2018-09-07 22:33] SnowShock35 commented on #56
Hello @VT-14

Thank you for your contribution to the FTB Presents Direwolf20 1.12 mod-pack. Your involvement greatly helps to improve the quality of the product and keep it bug-free and more enjoyable for everyone. Without your input, the pack would cease to be as good as it is.

I am delighted to inform you that this issue has been addressed in the recent development of the mod-pack and will be f

[2018-09-07 22:35] Kanzuke117 commented on #52
nice

@SnowShock35 is there a reason you've suddenly gone obnoxiously corporate in all your replies? Reading 15 emails today with the same copy-pasted response got quite tiring...

[2018-09-10 09:58] SnowShock35 commented on #53
@RayYung

I have absolutely no idea. It could be anything in all honesty.

[2018-09-10 11:13] SnowShock35 commented on #52
@Kanzuke117 Hey,

First of all, thank you for bringing this up. I wanted to mention why my replies are so "copy-pasted" looking and as well as being formal and very "corporate-like".

To begin with, the copy-paste like replies is simply utilising the saved-replies feature GitHub now offers. It means I can consistent and fair to everyone in what I say as well as being able to get through bug report

[2018-09-10 13:18] SnowShock35 commented on #20
Fixed in [2.3.0](https://www.feed-the-beast.com/projects/ftb-presents-direwolf20-1-12/files/2615409)

[2018-09-10 13:18] #20 closed

[2018-09-10 13:26] SnowShock35 commented on #37
Fixed in [2.3.0](https://www.feed-the-beast.com/projects/ftb-presents-direwolf20-1-12/files/2615409)

[2018-09-10 13:26] #37 closed

[2018-09-10 13:26] SnowShock35 commented on #38
Fixed in [2.3.0](https://www.feed-the-beast.com/projects/ftb-presents-direwolf20-1-12/files/2615409)

[2018-09-10 13:26] #38 closed

[2018-09-10 13:27] SnowShock35 commented on #39
Fixed in [2.3.0](https://www.feed-the-beast.com/projects/ftb-presents-direwolf20-1-12/files/2615409)

[2018-09-10 13:27] #39 closed

[2018-09-10 13:27] SnowShock35 commented on #41
Fixed in [2.3.0](https://www.feed-the-beast.com/projects/ftb-presents-direwolf20-1-12/files/2615409)

[2018-09-10 13:27] #41 closed

[2018-09-10 13:28] SnowShock35 commented on #49
Fixed in [2.3.0](https://www.feed-the-beast.com/projects/ftb-presents-direwolf20-1-12/files/2615409)

[2018-09-10 13:28] #49 closed

[2018-09-10 13:29] SnowShock35 commented on #52
Fixed in [2.3.0](https://www.feed-the-beast.com/projects/ftb-presents-direwolf20-1-12/files/2615409)

[2018-09-10 13:29] #52 closed

[2018-09-10 13:38] SnowShock35 commented on #56
Fixed in [2.3.0](https://www.feed-the-beast.com/projects/ftb-presents-direwolf20-1-12/files/2615409)

[2018-09-10 13:38] #56 closed

[2018-09-10 13:39] SnowShock35 commented on #58
Fixed in [2.3.0](https://www.feed-the-beast.com/projects/ftb-presents-direwolf20-1-12/files/2615409)

[2018-09-10 13:39] #58 closed

[2018-09-10 13:47] SnowShock35 commented on #55
Hello,

Thank you for your contribution to the FTB Presents Direwolf20 1.12 mod-pack. Your involvement greatly helps to improve the quality of the product and keep it bug-free and more enjoyable for everyone. Without your input, the pack would cease to be as good as it is.

I'm unsure what it is that is causing your issue. Are you still getting it on version 2.3.0 of the mod-pack? If so could you

[2018-09-10 13:57] SnowShock35 opened #60 "test issue"
* **Modpack Version**:

* **Issue**:

* **Link to Log or Crash File Paste**:

* **Is it Repeatable?**:

* **Mod/s Affected**:

* **Known Fix**:

[2018-09-10 13:58] SnowShock35 commented on #60
wadwaad

[2018-09-10 13:58] #60 closed

[2018-09-10 19:53] RayYung commented on #53
sigh.... Still broke after the new 2.3.0......

[2018-09-11 19:35] SnowShock35 commented on #53
It's highly likely that it was caused by world corruption. Really sorry that it's happened but I'm pretty sure I cannot do anything.

**SnowShock35 ☃️**

***

[2018-09-11 20:11] RayYung commented on #53
I felt that coming......  :'(
Any suggestion on any tools or mod that can help me move a wall of machines to a different place.

[2018-09-11 20:24] SnowShock35 commented on #53
Not that I'm aware of in this pack. Perhaps funky locomotion could help but the easiest thing to do with machines is getting a strong box for each machine setup you have and fill it with all the bits (as well as take screenshots of what it looked like) and to rebuild it.

Also, there's likely a backup prior to your machines becoming broken. Try reverting to that and playing it.

[2018-09-11 20:33] RayYung commented on #53
I still have the working save, I was still playing 2.1.0. however, I wanna play with new mods and a new version.
I will try funky locomotion so I don't have to rebuild everything..

Thanks,

[2018-09-11 20:40] SnowShock35 commented on #53
Try the version that was all fine in 2.3.0 - see what that does too.

[2018-09-11 20:47] RayYung commented on #53
That's what I did yesterday. (load a working 2.10 world into a brand new 2.3.0 instance.)
It acts the same as 2.2, breaking a lot of machines...

[2018-09-12 02:20] Ugame45 commented on #55
Hey,

I have not checked in a bit since i first tried(a lot of times as the
report said) so its the log is about a week or so old
either way thanks for the help!

On Mon, Sep 10, 2018 at 9:47 AM SnowShock35 <notifications@github.com>
wrote:

[2018-09-12 11:22] SnowShock35 commented on #53
Oh right 😕

[2018-09-18 06:59] woutwoot opened #61 "Recipes missing for Simply Jetpacks (Ender IO path) tier 2+ Armor Plating"
* **Modpack Version**: 2.3.0 (latest at this time)

* **Issue**:
Basically the same issue as reported here:
https://github.com/FTBTeam/FTB-Revelation-2/issues/102

The issue is that there doesn't seem to be a way to craft the tier 2+ Armor Plating for the Ender IO path of SimplyJetpacks. Specifically, while you can craft the Silicon Armor Plating (tier 1) on a crafting table, there is no recipe fo

[2018-09-19 19:32] TheGameGeek opened #62 "Title screen"
* **Modpack Version**: 2.3.0

* **Issue**: Title screen missing images

* **Screenshot of problem**: https://gyazo.com/66d52e86c0535cda7d2af3c2af793eee

* **Is it Repeatable?**: Everytime i load up the pack its like that and its with no texture packs

[2018-09-22 02:27] BubbaVB commented on #39
Can this ticket be reopened or do I need to submit a new ticket?  The issue still exists in the 2.3.0 version of the mod pack.  I tested this in a completely new world.

[2018-09-22 02:33] BubbaVB opened #63 "Refined Storage auto-crafting with fluids no longer works (issue still exists)"
Modpack Version: 2.3.0

Issue: Prior to the release of 2.2.0 I was able to auto-craft with fluids stored in Refined Storage. I have completely rebuilt the crafting pattern and this did not help resolve the issue. I know there were upgrades to Refined Storage that is in the version so this may be an issue specifically with that mod.

Note:  This issue was reported with the release of 2.2.0 version

[2018-09-23 12:48] Kanzuke117 commented on #63
I noticed in the changelog:

Are you using the new methods?

[2018-09-23 16:51] BubbaVB commented on #63
I believe I was using the fluid autocrafting.  Here is a description of what I was doing:

I have milk & water stored in the refined storage system.  Each in their own 64k Fluid Storage Block.  I'm also using Reborn Storage to house my patterns.  The patterns I'm using that are experiencing issue are:

- Heavy Cream which is made using 1x Mixing Bowl & 1x Milk
- Salt which is made using 1x Pot & 1

[2018-09-24 21:56] Kanzuke117 commented on #63
So your patterns are regular (non processing) patterns, combining the Pam's item with a bucket of fluid? If so, that's exactly the crafting method that was removed. Have a look here for how it works after 1.6.1: https://refinedstorage.raoulvdberge.com/wiki/autocrafting-with-filled-buckets

[2018-09-25 04:02] sagegwatkin opened #64 "Server crashes when loading new chunks"
* **Modpack Version**: FTB Presents Direwolf20 1.12-1.12.2-2.3.0-Server

* **Issue**: Shortly after players generate new chunks the server crashes as the watchdog finds a single server tick taking 60 seconds.
This only occurs as players are generating new chunks and appears to happen directly after console warnings for Thaumcraft causing cascading worldgen lag.

* **Link to Log or Crash File Paste

[2018-09-25 21:03] BubbaVB commented on #63
Kanzuke117 you are correct.  I didn't know that method was removed.  Thanks.

[2018-09-26 13:35] KaynC opened #65 "CANT CRAFT WANDS IN THAUMCRAFT"
* **Modpack Version**:

* **Issue**:

* **Link to Log or Crash File Paste**:

* **Is it Repeatable?**:

* **Mod/s Affected**:

* **Known Fix**:

[2018-09-27 09:54] belgariondunkelseele commented on #65
well... quite probably :) try going for a gauntlet :)

[2018-09-29 17:03] drose2pye opened #66 "Dank/Null/Thaumcraft bug"
2.3.0

When a player puts any kind of vis crystal into a dank/null with or without oredictionary enabled, and then picks up any other kind of vis crystals, all the vis crystals go into the dank null as the type of vis crystal in the dank/null. The specific example I discovered this with was that I had put an aqua vis crystal into my dank/null and then flown around the end picking up vis crystals o

[2018-10-01 10:30] mkoz1212 opened #67 "Refined Storage External Storage doesn't work properly on Extra Utilities Drums"
* **Modpack Version**: 2.3.0

* **Issue**: Refined Storage External Storage doesn't work properly on Extra Utilities Drums.
Setup to reproduce:
Magma Crucible with Import Bus in fluid mode connected to Refined Storage Network with an External Storage (fluid mode) on an Extra Utilities Drum. In addition use a Crafter to Autocraft for example 10 Redstone to 1 Bucket of Destabilized Redstone, which r

[2018-10-02 14:02] Arkturos opened #68 "Can't enter World"
**Modpack Version**: 2.2.0

**Issue**: I am unable to enter my savegame without the game crashing. It displays
"Loading world - Building terrain" After that, it crashes.

**Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/ce02955f

**Is it Repeatable?** Yes, it happens to me every time.

[2018-10-02 22:25] Azutte opened #69 "a tool with fortune III, smashing, and smelting does not multiply ingot drops from TiCon nether ores"
* **Modpack Version**: 2.3.0

* **Issue**: For example (this is the only tool I've found so far that can even mine them),[ this resonant fluxbore](https://i.imgur.com/Rz0U9BX.png) drops single ingots from cobalt and ardite; but (at least?) two from, say, a thermal expansion tin ore.

* **Link to Log or Crash File Paste**:

* **Is it Repeatable?**: well, yeah, I can just mine some more ores and get

[2018-10-02 22:39] Azutte opened #70 "Blood Magic structure renders are only visible from certain angles...?"
* **Modpack Version**: 2.3.0

* **Issue**:  That's basically it in the title. The instruction book says to shift click the (other) book on the altar to get the structure render to appear in the first place and since it's only visible from certain angles, it's often hard to tell if the render has even been "turned on" or not. I have made an imgur album [here](https://imgur.com/a/0E4hIaX) of three p

[2018-10-02 22:45] Azutte opened #71 "This particular Twilight Forest block (if not more of them) doesn't have a nice localized name when you hover over chiseled bits of it"
* **Modpack Version**: 2.3.0

* **Issue**: [https://i.imgur.com/fdMX4n4.png?1](https://i.imgur.com/fdMX4n4.png?1)

* **Link to Log or Crash File Paste**:

* **Is it Repeatable?**: yes

* **Mod/s Affected**: Twilight Forest, Chisel & Bits

* **Known Fix**:

[2018-10-02 23:01] Azutte opened #72 "Gravestone fails to form *somehow* (???) while fighting ur-ghast in midair"
* **Modpack Version**: 2.3.0

* **Issue**: Alright, this is a bit silly, but here's what I was wearing/using/doing.
  * offhand staff of travel
  * back: dark steel chestplate with elytra anvil'd onto it (btw this should use durability or power and doesn't)
  * main hand: some TiCon sword
  * bauble slot: resonant capacitor
  * I was teleporting around in midair while in gliding "stance", which of

[2018-10-02 23:14] Azutte opened #73 "Assorted uncrafting table exploits :)"
Obsidian -> two tier 1 Blood Magic lava tanks + two tier 1 Blood Magic water tanks, with 16000mb fluid in each -> blank runes and bloodstone bricks, skipping blood magic progression, including uncrafting the bricks for a shard to make the next orb at one point, but also you can uncraft some of the tanks and use the mats to combine the tanks upward into bigger ones

Obsidian -> same as above but IE

[2018-10-02 23:41] Azutte opened #74 "mob grinding utils's Mob Swab seems to pick up anything with a spawn egg"
* **Modpack Version**: 2.3.0

* **Issue**: ...this appears to include bosses such as Twilight Forest's Naga, and also **a Thaumcraft [crimson knight/cleric portal](https://cdn.discordapp.com/attachments/415644156044509185/493613622770270208/unknown.png)**. If you're on a server this could lead to, say, putting a Hydra in someone's base and having it destroy the entire thing in an instant.

* **Lin

[2018-10-02 23:43] Azutte commented on #71
[https://i.imgur.com/hvh6K7M.png](https://i.imgur.com/hvh6K7M.png)

[2018-10-02 23:44] Azutte commented on #74
oh shit my bad that's not enough wands in the screenshot

I mean it's probably also a thing but still

[2018-10-08 16:22] A-UNDERSCORE-D opened #75 "Astral Sorcery sky render issue: Stars dont show up"
* **Modpack Version**:
v2.3.0, running on a dedicated server

* **Issue**:
Astral Sorcery's special render for the overworld seems to break when time manipulation (like sleeping or the blood magic imperfect ritual stone with a lapis block). Specifically, by break I mean that the stars in the night sky stop rendering. Images available at https://github.com/HellFirePvP/AstralSorcery/issues/875

Note

[2018-10-10 21:01] mkoz1212 opened #76 "Refined storage Crafter cannot be chained on EnderIO machines"
* **Modpack Version**: 2.3.0

* **Issue**: Refined Storage Crafter cannot be chained on the same machine as for example with Thermal Expansion ones.

* **Link to Log or Crash File Paste**: No Crash

* **Is it Repeatable?**: Yes

* **Mod/s Affected**: Refined Storage, EnderIO

* **Known Fix**: Not Available

[2018-10-10 22:29] mkoz1212 commented on #76
It actually works, but it's not named properly and therefore also hard to identify in the pattern monitor from Refined Storage.

[2018-10-13 00:16] Maat765 opened #77 "Not a bug however I have a mod suggestion if you would consider it"
I was wondering if you guys could add decocraft or Mrcrayfish to the pack next update for some furniture & decorations to the modpack?

Sorry if this is in the wrong place, this is my first time using GitHub!

[2018-10-13 03:11] Maat765 commented on #65
Find a crystal that has been naturally generated or given to you, sleep, then follow the hint that the book gives you, if you can't figure it out, put 3 different crystals, 1 flint, 1 bowl, 1 redstone together in a normal crafting bench & use the salis mundis on a bookshelf

[2018-10-15 14:37] Shybella commented on #77
Yes, would be nice addition to see more furniture.

[2018-10-24 13:19] Shybella opened #78 "Update"
Let's go ahead and push another round up updates for DW20.

Many fixes have been made and many mods are on new release builds.

[2018-10-29 16:12] N7sunix opened #79 "Unknown conflict"
I'm having an issue with the pack, its causing my game to freeze momentarily nonstop. I've run the game on many other settings with no avail but I can run another FTB mod pack without issues so I'm know it cant be my system. Some help would be appreciated.

[2018-11-03 06:56] SnowShock35 commented on #62
Hi @TheGameGeek,

Apologies for the lateness of my reply. If you are still experiencing this issue, could you try re-installing the pack for me again? It's possible the download did not successfully work.

Please, let me know how you get on with that.

**SnowShock35 ☃️**

***

[2018-11-03 18:18] TheGameGeek commented on #62
@SnowShock35 i forgot this was open i believe it was we had added chance cubes into the pack

[2018-11-03 18:20] #62 closed, assigned to SnowShock35

[2018-11-08 20:50] Flamebom opened #80 "Update Building Gadgets"
* **Modpack Version**: 2.3.0

* **Issue**: Without the updated version of Building Gadgets, using them instantly crashes the game which makes Building Gadgets useless right now.

* **Link to Log or Crash File Paste**:
Direct Link
https://pastebin.com/dJqDv2fi
Issue reported to mod author
https://github.com/Direwolf20-MC/BuildingGadgets/issues/127

* **Is it Repeatable?**:Yes

* **Known Fix**: Just

[2018-11-11 16:10] kerblaster opened #81 "Deep Dark Crash"
* **Modpack Version**: 2.3.0

* **Issue**: The game crash when I enter to the dark dark.

* **Link to Log or Crash File Paste**:
[crash-2018-11-11_17.08.55-client.txt](https://github.com/FTBTeam/FTB-Presents-Direwolf20-1.12/files/2569558/crash-2018-11-11_17.08.55-client.txt)

* **Is it Repeatable?**: yes

* **Mod/s Affected**: Extra utilities

* **Known Fix**: do not go into deep dark

[2018-11-12 03:58] Azutte opened #82 "no grave created on [blood magic] self sacrificing death, also no death message, and no items dropped in the world"
(previous release of pack, have not tried current, but neither mod updated)

[2018-11-12 06:06] Momibelle opened #83 "Client crash -"
* **Modpack Version**:  FTBPresentsDirewolf20112-2.4.0-1.12.2

* **Issue**: Client crash - undetermined

* **Link to Log or Crash File Paste**: https://pastebin.com/7jSkXe0A

* **Is it Repeatable?**: sure is!

* **Mod/s Affected**: no ideas which ones, please look at the crash log above, thanks!

Hope you can help!
Momibelle

[2018-11-14 03:45] Laventry opened #84 "Iron gear recipe is broken in pack 2.4.0"
The current crafting table recipe is overruled by an advanced generator recipe. Leaving the only way to craft your first iron gear with a tinkers setup.

[2018-11-18 18:40] EscolarProgramming opened #85 "Monk - Stage 10 doesn't work"
* **Modpack Version**: Direwolf20 2.3.0

* **Issue**: In Monk stage 10 you have to stre on the moon while you are sitting in a boat. Normally on the lower right corner there's a indicator about the progress but nothing happen. Already reported here: https://github.com/rwtema/Monk-Mod/issues/59

* **Link to Log or Crash File Paste**: There's noting relating to this bug in error or log file

* **Is

[2018-11-21 19:40] EscolarProgramming commented on #85
Okay, I've found a workaround: You have to sit as second person in a boat (ask a friend to sit in the boat and then rightclick it so you sit behind him). Now stare at the moon and it will work :)

[2018-11-24 19:03] Eldhelion opened #86 "Server Crash trying to reboot a refined storage network with a lever (ender io involved)"
* **Modpack Version**: 2.3.0

* **Issue**:  in a nutshell : server crash and unable to reload the server map with error.
long story:
I had a 5x5x5  reborn storage multiblock machine, thinking in upgrading but not having space to do it on the overwold.
I built a 11x11x11 reborn storage multiblock machine, inside a 13x13x13 compact machine.
In one side of the multiblock I placed a io port hoping to

[2018-12-01 12:57] Murdurtroll opened #87 "RS Storage disks are within the disk drive, but do not show any items or storage capacity. Items are locked inside."
* **Modpack Version**: Refined Storage 1.6.4 (Direwolf20-1.12.2)

* **Issue**: I have a refined storage system setup, with 6 64K disk drives, furthermore I have an external storage bus connected to a drawer controller, which is connected to several drawers for items I have in bulk. The following issue occured; I decided to go AFK for some time to let all mining run etc. Therefore I put all my armo

[2018-12-04 14:23] Murdurtroll commented on #87
Update:
Still not working, but I found some interesting things. Importers are not working, exporters are working if I E.G. make a crafter recipe it does output the item into the furnace, but than it does not import the finished product, as the 64K storage disks seem broken.

[2018-12-06 02:37] Krater107a commented on #84
Can confirm this problem as well in pack 2.4.0. Oddly enough, when I tried to crafttweaker a new recipe for the iron gear; no matter what the recipe will give 64 diamond instead. Very strange.

[2018-12-08 05:41] 19celtic71 opened #88 "FPS issue"
* **Modpack Version**: 1.12 v2.3.0

* **Link to Log or Crash File Paste**:  n/a

* **Is it Repeatable?**: yes

* **Mod/s Affected**: n/a

* **Known Fix**: n/a

Once logged into the game my FPS drop to 1 or less, but when on the main screen to choose multiplayer and options I'm at normal FPS with no lag

Operating System
			Windows 10 Pro 64-bit
		CPU
			AMD FX-8370	45 °C
			Vishera 32nm Technology

[2018-12-10 02:55] trav90 commented on #84
I too can confirm this problem in version 2.4.0 of the mod pack

[2018-12-11 21:01] Murdurtroll commented on #87
does anyone know if this forum is still live?

[2018-12-13 21:18] Murdurtroll commented on #87
you know. At a certain point it just feels sad to see what is all just... destroyed... by some bug.... thinking you can safely store all your goodies... but... boom...

[2018-12-14 18:22] Shybella opened #89 "Please set 2.4.0 to release"
Please set 2.4.0 to release.

[2018-12-16 21:10] Murdurtroll commented on #87
Somewhere... on the other side of the interwebs... hopefully someone is looking into this...
Greetings.

[2018-12-17 18:11] Murdurtroll commented on #87
I might start blogging here. But I do not think this will lead me into much fame... Since probably my blog would get the same amount of comments as this thread. But hey, commetns are not important, it is about that 1 person who might read it and secretly enjoy my agony.

[2018-12-20 17:46] Shybella commented on #89
By the time this actually gets set to release we'll be ready for another mod update.

[2018-12-20 17:46] #89 closed, assigned to nobody

[2018-12-20 17:46] Shybella commented on #89
Real shame this kind of problem is ruining the state of DW20.
-

[2018-12-27 18:03] BunsenGyro opened #90 "Can't Pour from Faucets in Tinkers' Construct"
* **Modpack Version**: 2.3.0

* **Issue**: Tinkers' Construct Faucet won't work, on my friend's server. Upon right clicking a faucet with Molten Glass in the forge, the liquid will be poured for only a brief moment into a basin or casting table, before stopping itself, regardless of the duration of the right click. Any Molten Glass liquid that has been poured from these very brief moments eventual

[2019-01-01 07:41] ehcraftermc opened #91 "thaumcraft server crash"
* **Modpack Version**: 2.3

* **Issue**: when ever i start up my server it just crashes. when i remove thaumcraft another error occurs but from IE instead

* **Link to Log or Crash File Paste**: [02:36:44] [Server thread/ERROR] [minecraft/MinecraftServer]: Encountered an unexpected exception
net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from Thaumcraft (thaumcraft)
Caused

[2019-01-01 10:31] #91 closed, assigned to nobody

[2019-01-02 17:26] Gunsrude commented on #87
I only ask this because I've done this before, but, are you sure you're not trying to stick a 64k **Fluid** Storage disk in there?

[2019-01-02 17:59] Murdurtroll commented on #87
Dear Gunsrude,

thank you so much for your reply, this means so much for me. Unfortunately that seems not to be the issue. Everything operated well, with the correct disks, and suddenly those are not accepted/recognized anymore.

Would you please rate my blog 0/5 stars?

thanks! =D

[2019-01-06 04:14] Marvin21st opened #92 "Boots of the traveler duplicating and dank/null/ disappearing. Related events."
* **Modpack Version**: FTB presents Direwolf20 1.12
* **Issue**: While wearing boots of the traveler when opening /dank/null (yellow) and end up with a duplicate pair of boots and null box disappears. Sometimes comes back (have not worked out how or if this is repeatable) Only happens when wearing boots. Boots can be in inventory with no effect.

* **Link to Log or Crash File Paste**: <none

* **I

[2019-01-07 23:34] ajruckman commented on #61
Having this problem too... can't even put the items in the alloy smelter.

[2019-01-11 11:54] Sebastiaan-75 commented on #84
I also have the same issue.

[2019-01-12 09:36] Phase-Shifter opened #93 "Latest update has memory leak"
Just downloaded the latest update, and framerate is too low to play while memory usage in constantly increasing.

I thought the update might have an issue with items placed in the world, so I tried creating a new world, but that didn't fix the issue.

[2019-01-13 14:20] AquatikJustice opened #94 "Ability to duplicate ender pearls in TiCon smeltery"
* **Modpack Version**: 2.4.0

* **Issue**: There is a misconfiguration that allows a player to put 1 ender pearl in the smeltery, giving them 576 mB of Resonant Ender, but they can then cast that into a gem cast at 250 mB per pearl to get 2 ender pearls (plus some leftover Resonant Ender fluid). This can be quickly and easily automated to make an infinite ender pearl generator.

* **Is it Repeatab

[2019-01-14 20:53] MacChuck opened #95 "Advancements not granting reliably"
* **Modpack Version**: 2.4 (also in 2.3 and 2.2)

* **Issue**: Various advancements, vanilla and modded, don't grant upon completion. Some do after logging in and back out, some do after 3 or 4 attempts, some seem to never work.
Examples: craft a potion, take it, drink it, no brewery advancement. Log out, in, same. Reboot the server, make another potion, take it, re-log, grants advancement.
Twilig

[2019-01-16 00:01] flungloaf commented on #84
+1

[2019-01-18 17:54] plaguewolf commented on #84
Got pretty annoyed by this bug, so i made a crafttweaker fix that adjusts the "iron frame" recipe from advanced generators. Basically i just rearranged the iron ingots into the corners instead of the sides of the crafting space, which would honestly make more sense in the first place.

{Your Modpack Dir}/scripts/00_default.zs
/* Fixing derped iron gear recipe */
recipes.remove(<advgenerators:iron_

[2019-01-20 08:57] CodeCorrupt commented on #84
@plaguewolf I tried your quick fix (applied to both server and client `scrips/00_default.zs`) to no avail. Are there any additional steps besides appending that snippet?

_Using Direwolf20 1.12 v2.4.0_

**Edit**
Found the fix on my own. `<>` are needed around the tags. Below is what worked for me:
[code]

[2019-01-20 12:26] Sebastiaan-75 commented on #84
Well, a workaround is to build a Thermal Expansion Compactor, upgrade it to hardened and place an Gearworking Die in the Augment slot, this allows you to create iron gears as well.

[2019-01-21 21:19] Swivelchair2001 commented on #61
Me too. Dosent work, locks me out from getting the Soulariam Jet plate

[2019-01-28 10:09] MacChuck commented on #95
Things I've tried:

Disabling JourneyMap.
Deleting player, stats, and advancements data from the server for myself, deleting and re-downloading the pack on my PC, then connecting to the server.
Granting achievements via the admin console.

Sometimes they work, sometimes they don't.

[2019-02-01 04:09] Maat765 opened #96 "Thaumcraft Bug"
* **Modpack Version**: 2.4.0

* **Issue**:When breaking any container with the focus called "Break" in Thaumcraft, the contents do not drop.

* **Is it Repeatable?**: Yes.

* **Mod/s Affected**: Thaumcraft Beta-26

I have one more question,
In the next update, could there possibly be furniture added? Like, Crayfish, or decocraft?

Thanks,
Maat

[2019-02-01 16:18] #77 closed, assigned to nobody

[2019-02-02 03:14] scotpgot commented on #84
Still an issue two months later... :(

[2019-02-05 04:26] HojoCat opened #97 "Binnie's Botany Trowel"
* **Modpack Version**: 2.4.0

* **Issue**: Binnie's Botany Trowel does not work when used on grass or dirt or anything I can find.
Without the trowel working the entire Binnie's Botany mod does not work. Flowers cannot be created and the tileworker machine is just an expensive door stop.

* **Is it Repeatable?**: always

* **Mod/s Affected**: Binnie's Botany is affected. I do not know which mod is

[2019-02-07 15:21] Michi2670 opened #98 "Wireless Crfating terminal"
I have crafted the wireless crafting terminal from the wireless crafting terminal 2 mod and id doesn´t work.
I can only put a half stack out when i use Right click, i cant put out one item or a complete stack, and i also cant put items in, also not with the magnet upgrade.
The normal AE2 wireless terminal works perfectly.
I´m playing on a Server but thats not the Problem in singleplayer is also do

[2019-02-10 10:06] grazazel commented on #97
I also have this same problem. can confirm it is all the trowels. They make the sound but not changing the ground

[2019-02-11 21:55] Retovath commented on #98
The issue is that ae2 rv6 requires wireless crafting terminal version 3.10.80 or later.
https://github.com/scalda/Foolcraft_3/issues/306

[2019-03-02 00:45] iChun commented on #8
Should be addressed in Morph 7.1.3 (when released)

[2019-03-07 20:03] Shybella opened #99 "Update the pack"
Update the pack or get someone else to maintain the pack.

[2019-03-08 00:34] #99 closed, assigned to nobody

[2019-03-08 02:50] Shybella commented on #78
@SnowShock35

Been asking since Oct.. Don't be a rude person. Just show some acknowledgement. It really makes you look bad too when you come to only close my issue but not help anyone else. Pretty sure asking a question every 6 months isn't spam but exactly the opposite of spam.

[2019-03-10 04:24] SpiritWolfie commented on #41
As far as myself and my group can see this has not been resolved as of the latest direwolf 20 mod pack

We are consistently getting this almost everytime we try to log in.

[2019-03-16 17:20] SnowShock35 commented on #8
Hi @gcheezydog,

As of update 2.1.5, this issue will be fixed.

Thank you for your patients.

[2019-03-16 17:36] SnowShock35 commented on #47
Hi @TwoPointInfinity,

I have confirmed that this issue has been fixed in the upcoming 2.5.0 version of the mod pack. Please stay tuned for a beta release later this week.

Many thanks for your patients.
SnowShock35.

[2019-03-16 18:29] SnowShock35 commented on #48
Hi @TwoPointInfinity,

I have confirmed that this issue has been fixed in the upcoming 2.5.0 version of the mod pack. Please stay tuned for a beta release later this week.

Many thanks for your patients.
SnowShock35.

[2019-03-16 18:30] SnowShock35 commented on #50
This issue has now been closed due to a dormant state.

[2019-03-16 18:30] #50 closed

[2019-03-16 18:31] SnowShock35 commented on #54
This issue has been closed due to being dormant for a long period of time.

[2019-03-16 18:31] #54 closed

[2019-03-16 18:34] SnowShock35 commented on #55
Not to worry, happy to help. Happy Minecrafting!

[2019-03-16 18:34] #55 closed

[2019-03-16 18:38] SnowShock35 commented on #61
@woutwoot @ajruckman @Swivelchair2001

Have any of you tried since version 2.4.0 of the mod pack?

[2019-03-16 18:45] SnowShock35 commented on #63
Glad to hear you worked this out. Apologies for not getting back to your issue. I've been inactive for some time.

[2019-03-16 18:45] #63 closed, assigned to SnowShock35

[2019-03-16 19:50] #65 closed, assigned to SnowShock35

[2019-03-16 20:27] SnowShock35 commented on #66
I have confirmed that this is fixed in 2.4.0 of the mod pack.

[2019-03-16 20:27] #66 closed, assigned to SnowShock35

[2019-03-16 20:46] SnowShock35 commented on #67
Hi @mkoz1212,

I have tried to reproduce your issue in the newest version of the pack and I am not having the same result at least from reproducing it given the steps you provided.

Once released, please test your issue in 2.5.0 and see if you have any luck. If not I can take another look at the issue.

Thank you for your patients.

[2019-03-16 20:48] SnowShock35 commented on #68
Please update to version 2.5.0 of the mod pack and try again. If you still have no luck. Try reverting to a backup within your backup folder.

Many thanks

[2019-03-16 20:53] SnowShock35 commented on #69
Thank you for reporting this issue. I will forward it on to the respective authors of Tinkers' Construct and Thermal Expansion / CoFH Core.

[2019-03-16 21:01] SnowShock35 commented on #70
So the Inspectoris Scandalum only shows the imaginary structures when the blood altar is visible on your screen. This is likely by design to avoid large amounts of lag.

I can potentially make a request to the blood magic authors to somehow increase this range however, there is no certainty that the issue will be addressed.

[2019-03-16 21:09] SnowShock35 commented on #71
Thank you for the issue. I will report this to the respective authors and inform you here once the issue has been deployed to a new version of the mod pack. Thanks for your patients.

[2019-03-16 21:20] SnowShock35 commented on #72
Hi there,

I am sorry to hear you lost your items I can understand that is really very frustrating. Unfortunately, I am unaware of a gravestone restore command which I know some grave mods have for the particular grave mod installed. It is likely your items fell to the ground when it failed to generate the grave and the time you spent getting back to your grave the items despawned.

I'm not entire

[2019-03-16 21:33] SnowShock35 commented on #73
I have disabled un-crafting as there is no way to individually disable crafting operations that are causing duplication of items.

[2019-03-16 21:41] SnowShock35 commented on #74
Thank you for bringing this to my attention. I have removed the mob swab completely as this is an exceptionally dangerous and exploitable item.

[2019-03-16 21:59] SnowShock35 commented on #75
Thank you for reporting this issue. From the issue, you linked it seems the issue is still open and awaiting a fix from the author. I will leave this issue open until it is fixed.

[2019-03-16 22:01] SnowShock35 commented on #78
Hi @Shybella,

Apologies for the lack of updates over the past few months. Since September I've been going through my first year of university as well as a whole load of other personal things.

I am currently working on an update and it should drop before Monday.

Thank you for your patients.
- Snow.

[2019-03-16 22:01] #78 closed, assigned to nobody

[2019-03-16 22:02] SnowShock35 commented on #79
Hi there, are you still having this issue?

[2019-03-16 22:02] SnowShock35 commented on #80
Can you please try to recreate your issue on 2.4.0.

Thanks.

[2019-03-16 22:04] SnowShock35 commented on #81
Please, remove DiscordRP and any other mods you have added before reporting issues with the pack. We do not support the addition of mods to the pack.

[2019-03-16 22:04] #81 closed, assigned to SnowShock35

[2019-03-16 22:05] SnowShock35 commented on #82
Please follow the template when reporting the issues and use the latest version of the pack before reporting issues.

[2019-03-16 22:05] #82 closed, assigned to SnowShock35

[2019-03-16 22:07] SnowShock35 commented on #83
Your game ran out of memory. You'll need to increase the memory allocated to the game. It is probably a good idea to allocate 6GBs for the game to run without these issues.

[2019-03-16 22:07] #83 closed, assigned to SnowShock35

[2019-03-16 22:14] SnowShock35 commented on #84
Thank you, everyone, for your patients.

I have fixed the issue and it will be available in the next update which will be released within the next day or so.

[2019-03-16 22:18] SnowShock35 commented on #76
This might have been addressed in a later version of Refined Storage, it will have updated within the new update coming out in a day or so. If not then it might be worth bringing up on the mod's issue tracker as a suggestion.

Refined Storage issue tracker:
[raoulvdberge/refinedstorage](https://github.com/raoulvdberge/refinedstorage/issues)

[2019-03-16 22:18] #76 closed, assigned to SnowShock35

[2019-03-16 22:19] #85 closed, assigned to SnowShock35

[2019-03-16 22:26] SnowShock35 commented on #86
Hi there,

Have you been able to reproduce your issue in version 2.4.0 of the pack? If so can you be more clear as to what it is the network core is? I am not aware of a block called a network core.

Thanks for your patients.

[2019-03-16 22:33] SnowShock35 commented on #87
Hi @Murdurtroll,

Thank you for patiently waiting. I apologise for not replying sooner, there has been a lot going on in my personal life over the last few months so I have not been able to monitor this issue tracker.

I am not entirely sure what might be causing you this issue. Have you tried updating to the latest version of Refined Storage? That could potentially fix the issue you are having. I

[2019-03-16 22:35] SnowShock35 commented on #88
Hi @19celtic71,

How many gigabytes of RAM do you have allocated to the game? Also,  what other applications do you have running in the background? Try reducing the render distance or making sure V-Sync is disabled in the Minecraft options.

[2019-03-16 22:40] SnowShock35 commented on #90
This issue appears to be fixed in the new version that will be released as a beta within the next day or two.

Please try replicating your issue and if you're still having it let me know.

Thanks.

[2019-03-16 22:43] SnowShock35 commented on #92
Thank you for reporting this issue. I will report this to the respective author.

[2019-03-16 22:45] SnowShock35 commented on #93
This appears to be fixed in the development version. It will be released as a beta within the next day or so. Please try it and let me know how you get on, thanks.

[2019-03-17 09:32] SnowShock35 commented on #94
It appears on updating mods from the last update that the issue has been fixed by the respective author, which mod I am not sure of. Nevertheless, it will be fixed in 2.5.0 which will be out in a day or so.

Thanks for your patients and reporting the issue.

[2019-03-17 10:48] SnowShock35 commented on #95
Hi @MacChuck,

Thanks for reporting this issue. I have tried recreating this a number of times and I am unable to do so in the upcoming development version of the pack.

If you are able to please, give it another go when 2.5.0 is released in a day or so then let me know how you get on.

Thanks for your patience and once again reporting the issue.

[2019-03-17 11:16] SnowShock35 commented on #96
Hi @Maat765,

I have tried to re-create your issue in the new version of the pack, that will be released within the next day or so, and found that breaking any containers with a break foci does cause the contents and the block to drop. Could you give it another try once 2.5.0 comes out and let me know as soon as you can if you're still having issues or not?

As for your other query, this would be

[2019-03-17 11:17] SnowShock35 commented on #97
This has been fixed in the upcoming version of the pack. It should be released within the next day or so.

Thank you for reporting this issue and your patience.

[2019-03-17 11:19] SnowShock35 commented on #98
This has been fixed in the new version of the pack and will be released in a day or so.

Thanks for your issue submission and patience.

[2019-03-17 14:24] Murdurtroll commented on #87
Hi SnowShock,

You cannot imagine how delighted I am that you have been able to provide feedback to my issue.
It has been a cold winter, and Minecraft was already been given up... Well almost.. Last week I was doubting whether to delete the link to this thread, but fortunately I received a mail that a reply was given.

I will check in-game if anything is changed with any updates.

I will let you k

[2019-03-17 16:29] Maat765 commented on #96
It was whenever I broke an iron chest with it, I will try testing it again
on the next update. Another suggestion, as direwolf20 has a bunch of magic
mods, maybe you guys could add roots 2?

Thanks,
Maat

On Sun, Mar 17, 2019, 4:16 AM SnowShock35 <notifications@github.com> wrote:

[2019-03-17 17:05] SnowShock35 commented on #41
@SpiritWolfie I have another version coming out in a day or two, keep me posted after that update if the issue still occurs. Thanks

[2019-03-17 17:09] SnowShock35 commented on #96
Just tried on an Iron Chest with no issues. Again, it would be a question for Direwolf20, not myself or the FTB Team.

Hope this helps :-)

[2019-03-17 17:17] Maat765 commented on #96
Weird,  Ill try it next time I load up dw20 and record it I guess

On Sun, Mar 17, 2019, 10:09 AM SnowShock35 <notifications@github.com> wrote:

[2019-03-17 18:49] SpiritWolfie commented on #41
Hi there snowshock!

Do you mean a actual update to the direwolf 20 pack? (like the whole thing) or a independent mod that is in the direwolf pack and if you mean that which one so we know which one to update.

Cause I know allot of the mods on the direwolf 20 pack are really out dated and some of the stuff is insanely buggy I.E mining dimension suffocating people in the wall, Just roaming around

[2019-03-17 19:40] MacChuck commented on #95
Thanks, I switched our server to FTB Ultimate Reloaded recently, and myself and a few other players are having the same issue there as well.  It is infuriatingly intermittent. Here's my report there if it helps: https://github.com/FTBTeam/FTB-Ultimate-Reloaded/issues/133

I still have the save files from our DW20 map. so I'll give it a test when I have a little bit of time.

Just for completeness,

[2019-03-18 06:36] kevinkk525 opened #100 "OpenComputers PCs unusable"
* **Modpack Version**: 2.4

* **Issue**:  After installing OpenOS onto a HDD it initially works when rebooted and if the OpenOS Disk is installed but fails with "Unrecoverable Error computer halted" if rebooted, HDD removed and inserted, HDD inserted into a robot and similar. It makes using OC almost impossible as every reboot could lead to an unusable PC.

This seems to be a bug that has been fix

[2019-03-18 20:21] Shybella opened #101 "MemoryTester, is this possible?"
Hello,

Thank you for taking the time to update the pack.

Curse link: https://minecraft.curseforge.com/projects/memorytester

This will pop up a nice GUI before the game reaches the forge screen and will tell the client if they do not have enough memory assigned. You can post information there on how-to increase your memory settings in Twitch.

Unsure of where to suggest things, sorry if this is

[2019-03-18 23:28] Flamebom commented on #80
I'm pretty sure it's fixed without even testing because direwolf said

![image](https://user-images.githubusercontent.com/43626865/54570191-e22e7f00-499a-11e9-9d9d-ed0c29789853.png)

the version in the current pack is 2.4.5 and old was like 1.6.7 or something

[2019-03-19 07:04] SpiritWolfie commented on #101
It was updated?

I don't see any updates

[2019-03-19 11:58] #8 closed

[2019-03-19 11:58] #47 closed

[2019-03-19 11:58] #48 closed

[2019-03-19 11:58] #73 closed, assigned to SnowShock35

[2019-03-19 11:58] #84 closed, assigned to SnowShock35

[2019-03-19 11:58] #90 closed, assigned to SnowShock35

[2019-03-19 11:58] #93 closed, assigned to SnowShock35

[2019-03-19 11:58] #94 closed, assigned to SnowShock35

[2019-03-19 11:58] #96 closed, assigned to SnowShock35

[2019-03-19 11:58] #97 closed, assigned to SnowShock35

[2019-03-19 11:58] #98 closed, assigned to SnowShock35

[2019-03-19 12:00] #74 closed, assigned to SnowShock35

[2019-03-19 12:02] #80 closed, assigned to SnowShock35

[2019-03-19 13:51] #100 closed, assigned to SnowShock35

[2019-03-19 13:52] SnowShock35 commented on #100
Already fixed in 2.5.0.

[2019-03-19 13:55] SnowShock35 commented on #101
@Shybella I don't have control on what mods are in the pack. The pack is now in its Long term support phase meaning it will likely have no additions or removed mods going forward. In addition, the pack already states it needs at least 4gb of ram to run in the description of the pack. I may tweak this when it comes time to update the pack again to suggest a higher ram usage.

@SpiritWolfie Yes the

[2019-03-19 13:55] #101 closed, assigned to SnowShock35

[2019-03-19 14:15] SpiritWolfie commented on #101
@SnowShock35

Can you please link?

I have checked Feed-the-beast.com under Files, I have checked twitch
Twitch states it was updated yesterday but doesn't show up under verisons, I have checked "Legacy" Client and I am not seeing the 2.5.0 anywhere

Sorry I'm getting off topic but I was hoping to update our server since the current 2.4.0 pack is beyond buggy for MP

[2019-03-19 14:29] SnowShock35 commented on #64
Hi @sagegwatkin,

Thank you for your patience. Please, could you try to see if your issue persists on version 2.5.0 of the pack?

If it does, could you then try using a new world and see if that still causes an issue.

If you still have no luck after that I will try to investigate this further for you.

Thanks.

[2019-03-19 14:32] SnowShock35 commented on #61
I have tried crafting the items you described and it definitely is fixed in 2.5.0 of the pack. Please update to the latest version and let me know how you get on. Thanks.

[2019-03-19 14:32] #61 closed, assigned to SnowShock35

[2019-03-19 14:34] #70 closed, assigned to SnowShock35

[2019-03-19 14:55] SnowShock35 commented on #92
Just a quick update for you:

It seems this bug isn't the fault of Dank Null or Thaumcraft or both of them but a more complex issue involving several unknown mods or the combination of lots of mods.

[2019-03-19 14:55] SnowShock35 commented on #92
@p455w0rd Any clue as to what might be causing this issue in the latest version of the Direwolf20 mod pack?

[2019-03-24 02:32] buroburoburo opened #102 "Client keeps crashing"
* **Modpack Version**: Direwolf20 1.12 -->

* **Issue**: Error reports when trying to connect to a server

* **Link to Log or Crash File Paste**: ---- Minecraft Crash Report ----

WARNING: coremods are present:
  AstralCore (astralsorcery-1.12.2-1.10.3.jar)
  EnderCorePlugin (EnderCore-1.12.2-0.5.43.jar)
  ForgelinPlugin (Forgelin-1.8.0.jar)
  IELoadingPlugin (ImmersiveEngineering-core-0.12-86.jar

[2019-04-03 13:15] Shybella opened #103 "Twitch does not install/launch the 2.5.0 update correctly"
None of my players are able to use the 2.5.0 update as they get the error "Unable to set the reference of a object" or the pack loads without any mods. FTBLegacy launcher works fine, this is isolated to DW20 2.5.0 on the Twitch launcher.

[2019-04-03 13:16] jenewland1999 commented on #103
Hi Shybell,

Thanks for making me aware or this. I'll test for myself when I get home then I'll speak to the engineering team at Twitch.

^Snow

[2019-04-03 13:21] SnowShock35 commented on #103
Hi @shybell

Thanks for the report. I'll take a look at this once I'm home and if need be report it to Twitch's Engineering Team.

^Snow

[2019-04-03 23:51] Shybella commented on #103
This is fixed now, thank you!

[2019-04-03 23:51] #103 closed, assigned to nobody

[2019-04-04 08:52] p455w0rd commented on #92
Sorry for only just seeing this. For now use the next-to-latest version..there is a dupe bug, but it's not super common and it's better than having items deleted. I'll be getting the new update (which is a rewrite) in the next few days (hopefully). I am finally at a point that I can make this priority.

[2019-04-04 10:23] SnowShock35 commented on #102
Hi @buroburoburo,

Can you create a new world and see if this issue still persists?

If the issue does not persist across to the new world it is likely a corrupt tile in your current world. From what I can gather from the crash report it is a Potion Enervator from Industrial Foregoing.

This leaves you with three options:

1. Restore your world from a backup that FTB Utilities Backup created.
2. D

[2019-04-04 10:30] SnowShock35 commented on #102
In future please use https://pastebin.com or http://paste.feed-the-beast.com for crash logs. they make them much easier to read.

[2019-04-04 20:15] Shybella opened #104 "Launch Direwolf20 On less than 3GB of memory"
_(Tested by processing lots of chunk updates via random teleport)_
Proof:  https://i.imgur.com/UFWCKyq.gifv

_(Twitch Tutorial)_
Quick 15 sec gif: https://i.imgur.com/AJDeWgq.mp4

(Don't need a wall of flags, the less, the better)

JVM Arguments: `-XX:+UseG1GC -XX:MaxGCPauseMillis=5`

I saw you can speak to the Engineers at Twitch. The current collector that Twitch uses to launch the JVM  is depre

[2019-04-13 16:09] Twisted-Code opened #105 "/Dank/Null build 46 causes item loss "randomly""
* **Modpack Version**: 2.5.0

* **Issue**: Due to a [known issue with /Dank/Null](https://github.com/p455w0rd/DankNull/issues/156), build 46 of the mod can result in item loss upon opening one of the items added by the mod.
* **Link to Log or Crash File Paste**: I'm not certain you'll get anything useful from this, but [here you go](https://paste.feed-the-beast.com/view/1c0253e9)

* **Is it Repeat

[2019-04-16 09:14] SnowShock35 commented on #92
Thanks for letting me know @p455w0rd. I'll sort it once I'm done with uni deadlines in a couple weeks time.

[2019-04-17 01:38] p455w0rd commented on #92
Yeah..so I ended up ditching that rewrite and starting over again, this time I have brandon3055 helping me, so maybe we can get this squashed once and for all :)

[2019-04-20 15:17] smithd57 opened #106 "Block placement"
* **Modpack Version**: 1.12

* **Issue**: This is not really a bug more just a setting I am not sure how to disable in regards to block placement. The issue is I can place block directly on the location my character is currently standing which makes it difficult to build. Is there a way to turn this off?

[2019-04-26 22:12] Icecreep109 commented on #106
I am also having this problem.  Additionally, when placing blocks like ladders or levers, they attempt to place on south side of the block space - even if there is a valid side elsewhere.  Similarly, saplings can be placed anywhere, and even stacked on top of eachother (until a block update breaks them).

[2019-04-27 04:43] Demicaster opened #107 "*solved*"

[2019-04-30 14:37] BlowMonGool opened #108 "Dual Monitor setup, fullscreen wont stick on 1 screen"
* **Modpack Version**: FTB Direwolf 20 1.12.2 V2.50

* **Issue**:  When i Press f11 to set the game in full screen it streches out over the 2 monitors and that is exactly what i don't want, i want the full screen on 1 monitor, not 2

* **Link to Log or Crash File Paste**:

* **Is it Repeatable?**:

* **Mod/s Affected**:

* **Known Fix**:

[2019-05-03 16:16] Alexi248 opened #109 "FTB direwolf20 1.12crashes when trying to open on singleplayer or on a server"
Modpack Version: FTB Presents Direwolf20 1.12 Version: 2.5.0 Forge version: 14.23.5.2821

Issue: When trying to launch a single player game, i spawn in but i can never see where i spawned; all i see is my hot bar and with the books spawning into my inventory stuck in animation. After 5 seconds or so the game crashes. When i try this on a server, the first time i get in the server but never actuall

[2019-05-09 05:41] Leorwin opened #110 "All UI tabs of Just Enough Resources are always hidden"
* **Modpack Version**: 2.5.0

* **Issue**: All UI tabs of Just Enough Resources are always hidden, regardless of config settings.

* **Link to Log or Crash File Paste**: (no crash file)

* **Is it Repeatable?**: Yes, the issue persists between sessions.

* **Mod/s Affected**: Just Enough Resources 1.12.2-0.9.0.52

* **Known Fix**: This issue is fixed in Just Enough Resources 1.12.2-0.9.0.53, pleas

[2019-05-09 16:23] Croompy opened #111 "Invisible hostile mobs"
* **Modpack Version**: v2.5.0

* **Issue**: Invisible hostile mobs, can attack and move (do not appear on the journey map as well)

* **Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/5aefed50

* **Is it Repeatable?**: I do not know how to re-create the bug, yet I've had this occurring multiple times now.

* **Mod/s Affected**: Journey map

* **Known Fix**: Non that i coul

[2019-05-13 13:26] SnowShock35 commented on #41
Hey @SpiritWolfie.

It was an update to the entire pack. If you didn't see the tweet about it here's a link to the release notes for that update. https://www.feed-the-beast.com/projects/ftb-presents-direwolf20-1-12/files/2690085

To install the update you will have to go through the Twitch Desktop App directly.

[2019-05-13 13:27] SnowShock35 commented on #101
@SpiritWolfie Check issue #41. I left a comment there for you.

[2019-05-13 13:31] SnowShock35 commented on #105
Thanks for the report.

When I get around to performing the next pack update I will be sure to look into this. Hopefully by then the author has addressed the issue if not I will most likely rollback the mod to an earlier version, providing it does not cause further issues.

[2019-05-13 13:33] SnowShock35 commented on #92
@p455w0rd Brilliant! Let me know if you have anything to try at some stage or another.

[2019-05-13 13:35] SnowShock35 commented on #106
Thanks for the issue.

You are correct, this is an issue I came across when updating the pack I was not and still not sure of the cause of this issue so until a time I can find the source of the issue there is nothing I can do unfortunately.

[2019-05-13 13:35] #107 closed, assigned to nobody

[2019-05-14 00:10] SnowShock35 commented on #108
This is likely a miss-configured setting in your GPU's preferences. Depending on the model of your graphics card will depend on how you disable this and solve the issue.

[2019-05-14 18:45] Tecotu commented on #106
Maybe Forge is causing this issue? They fixed a bug which maybe caused this problem in version 14.23.5.2822

[2019-05-14 20:50] egro commented on #64
I'm having the same issue, and I'm running the 2.5 version of the pack.
8 cores, 8 gig or RAM, Ubuntu 16.4.

Exactly the same symptoms as mentioned above.

Crash report:
https://paste.feed-the-beast.com/view/f58c68b0

(Should I open a new incident, or is it OK to keep it in the same thread?)

[2019-05-16 17:06] Mrthomas20121 opened #112 "Forge bug"
* **Modpack Version**: 2.5.0

* **Issue**: forge bug that allow you to place bug where you are standing.

* **Is it Repeatable?**: happen every games

* **Mod/s Affected**: no mod affected

* **Known Fix**: update forge to a newer version. (don't know if the forge version after it fix it but the latest one work)

[2019-05-29 02:50] DragonFyreSoul opened #113 "I can't seem to get LAN to work?"
Hello, and I apologize if my request is unknowledgeable for I have little technological experience

FTB Direwolf 20 1.12 v2.4.0

The issue is that I cannot direct connect to a single-player world opened to LAN like in vanilla Minecraft. Whenever a server is joined a page pops up with a very long list of mismatched mods. Both my friend and I recently installed the modpack and attempted to play with

[2019-06-02 19:56] cerezabae opened #114 "Failed to connect to the server Disconnected"
* **Modpack Version**: Direwolf 1.12 v2.5.0

* **Issue**: Every time I try to enter a server I get disconnected from it and cannot join. This started about a week ago. I was able to enter one server. Then, I wanted to join my friends' server and this error occurred. Now I am unable to join any server and get the same error -

The error looks exactly like this video - [https://www.youtube.com/watch

[2019-06-02 20:37] cerezabae commented on #114
Edit: I have added a log, sorry it's in an awkward format. I don't know how to fix it.
https://paste.feed-the-beast.com/view/da2288f3

One thing to note is that I am actually entering the server.
=`16:26:36
net.minecraft.client.gui.GuiNewChat
Client thread
info
[CHAT] _Cereza joined the network`

[2019-06-07 18:32] MrJDubYou commented on #109
Any resolution on this? I'm having the same issue.

[2019-06-07 18:44] Alexi248 commented on #109
yes I have solved the problem, I had turned a setting in the video settings off which was supposed to be on. I cannot check which one it is but if you could please show me a screenshot of the video settings i can tell you which one it is !

[2019-06-07 19:03] MrJDubYou commented on #109
https://gyazo.com/23de8b617fe94f3abf8bf2def5586605

[2019-06-07 19:42] Alexi248 commented on #109
hmmmm what fixed it for me was turning VBOs on ... you already have it on and its not working... maybe try turning on Vsync ... if that fails then i don't have how else i can help you ... please let me know how it goes and good luck ! <3

[2019-06-07 19:55] MrJDubYou commented on #109
No joy. I turned it off and on again with no luck.

[2019-06-07 20:07] Alexi248 commented on #109
owwww im sorry dude ... i tried what i can ... :(
good luck though :/

[2019-06-13 13:16] lays24mc opened #115 "Chests and Beds transparent"
Hi,

i have a little problem and i don't know if it an issue. My beds an Chest are transparent when I move a little further away. Is this a general problem or what could be the cause? I don't use tp or optifine.

https://1drv.ms/u/s!AmkINmSGuoq5jDxYeBJXhNf-amKL
https://1drv.ms/u/s!AmkINmSGuoq5jD3JH5RKAYD9HgmB

Direwolf20 1.12 Version: 2.5.0

[2019-06-20 07:58] MitruMesre opened #116 "Soul Network Leakage"
* **Modpack Version**: 2.5.0

* **Issue**: My soul network has a leak somewhere. I currently have 3 lp in my soul network, and if I right click with a blood orb, it goes up to 203, then after a while back down to 3. The only things I have relating to Blood Magic are:
A Hellfire Forge
A T2 Blood Altar
A T1 Incense Altar
Water, Lava, and Seer sigils
Weak and Apprentice Blood Orbs
A Sentient Sword
A

[2019-06-20 19:51] LemADEC opened #117 "Unable to install v2.5.0 due to missing dependencies 306612"
* **Modpack Version**: 2.5.0

* **Issue**: Fails to install due to missing dependencies

* **Link to Log or Crash File Paste**:
![image](https://user-images.githubusercontent.com/4776032/59877130-7860af80-93a5-11e9-9110-afe9510c53bc.png)

* **Is it Repeatable?**: yes, on 2 different computers from 2 different users in 2 different states

* **Mod/s Affected**: dependencies 306612

* **Known Fix**:

[2019-06-22 09:34] GrumpyChunks commented on #117
Temporary glitch maybe? v2.5.0 has just installed fine for me.

[2019-06-22 14:24] LemADEC commented on #117
yes, looks like it

[2019-06-26 03:29] aidandelmoral opened #118 "Crash when trying to enter single player world"
* **Modpack Version**:  Direwolf20 1.12 2.5

* **Issue**:  When I try to enter my single player world I get this message "The game crashed whilst exception in server tick loop
Error: net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from MineTogetherServer (minetogetherserver)"

* **Link to Log or Crash File Paste**:  https://paste.feed-the-beast.com/view/fa0ccb9b

* **Is it

[2019-07-16 19:45] ShadowSans55 opened #119 "MineTogetherServer crash that never happened to me before."
* **Modpack Version**: 2.5.0

* **Issue**: I could play this pack totally fine until 10 minutes ago. I loaded the pack and now I can't load my singleplayer world anymore.

* **Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/a9b33383

* **Is it Repeatable?**: Yes.

* **Mod/s Affected**: MineTogether.

[2019-07-19 18:08] SuperSoaker420 commented on #111
I'm also having this issue, happens with non-hostiles too (villagers).

[2019-07-21 16:39] BlizzBlu opened #120 "Skin not loading"
* **Modpack Version**: v2.5.0

* **Issue**: Skin does not load every time I play the game (Singleplayer world) - it always defaults to the Alex skin

* **Link to Log or Crash File Paste**: If the Launcher Console suffices, here's the link: https://paste.feed-the-beast.com/view/99d57f84

* **Is it Repeatable?**: Yes, on every boot (it's unavoidable)

* **Mod/s Affected**: Unknown

* **Known Fix**:

[2019-07-24 03:02] AndyCAdams opened #121 "DeepRes+IndustrialForegoing crash"
* **Modpack Version**: Direwolf20 2.5.0

* **Issue**: https://cdn.discordapp.com/attachments/600548826297794577/603385828777132036/unknown.png

from the user that encountered the bug: "like literally all I did was shift click some bottles of water into that machine"

* **Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/6a93127a

* **Is it Repeatable?**: everytime the user,

[2019-07-28 13:31] Scultone opened #122 "Quantum Quarry Interface Issue"
* **Modpack Version**: Direwolf20 1.12 v2.5.0           extrautils2-1.12-1.9.9

* **Issue**: Unable to access quantum quarry interface. Right click on any block and nothing happens. This pack was downloaded direct from twitch.  I have deleted the mod file on both server and client then readded before launching server and client.

* **Link to Log or Crash File Paste**: Not A Crash

* **Is it Repeat

[2019-07-31 20:28] NeoO187 opened #123 "Can't connect to server after claiming area, 1.12.2"
Hello fellas.

Today I installed a fresh Direwolf20 1.12.2 Server.
I've updated and added some mods. Everything works pretty fine. Then I tried to claim some Chunks for Chunkloading. I got kicked from my server with the message "A fatal error has occured, this connection is terminated".
Server is still running. And after 3 restarts the same problem is still there.

Logfile says some kind of weird

[2019-07-31 20:43] NeoO187 commented on #123
Oh my god. It was a stupid mistake of mine. I've updated 3 files in the pack.. Ftblib, Utilities and Backup serverside.
On my client I've only updated Ftblib. That causes the crash.. Just wanted to play and forgot that.

[2019-07-31 20:43] #123 closed, assigned to nobody

[2019-09-05 23:38] NathanH759 commented on #122
Getting same issue ^

[2019-09-07 15:59] Nirvaxstiel opened #124 "Aternos Server crash after using Openblocks Elevator (DW20 2.5.0, 1.12.2)"
- Modpack Version: Direwolf20 1.12 v2.5.0
- Issue: Hosting DW20 on Aternos with a group of 4~6. Aternos server stops at some form of interaction with the elevator.
**Observations:**
- 1. Unable to purposefully re-create the problem by spamming shift and jump repeatedly.
- 2. The crash can happen any time between freshly started server and behaving normally for hours before a random crash occurs.
-

[2019-09-15 05:06] AllHopeLost opened #125 "Resources Disappearing In Dank/Null"
* **Modpack Version**: 2.5.0

* **Issue**: Upon Depositing any type of resources inside of any tier of Dank/Null exceding A stack proceeds to void said resource into oblivion and is nonexistent. Resources affected by bug is incorrigible.

* **Link to Log or Crash File Paste**: No crash, Possible data available, Will update if found

* **Is it Repeatable?**: Yes

* **Mod/s Affected**: Mod [Dank/Nul

[2019-09-21 02:36] vedrit opened #126 "EnderIO Refined Storage Conduit does not pull from 1st slot of SAG Mill"
* **Modpack Version**: 2.5.0

* **Issue**: EnderIO Refined Storage Conduit does not pull items from the first slot of SAG Mill

* **Link to Log or Crash File Paste**: No crash

* **Is it Repeatable?**: Yes

* **Mod/s Affected**: Refined Storage 1.6.12, EnderIO  5.0.40

* **Known Fix**: Workaround is to use an Item Conduit or similar block to pull from SAG Mill into a chest, then use an Importer

[2019-09-25 05:40] PennyOmega opened #127 "idk what to fill in"
so I do not know how to fill this in what is it that I need I want to get a server for me and my friend but I am lost.
![Runtime Screenshot 2019 09 24 - 20 56 50 89](https://user-images.githubusercontent.com/55778889/65572212-34d58e80-df1c-11e9-8a65-d211ae1c29fb.png)

[2019-09-25 14:31] Alpha-Knugen commented on #112
I have this bug aswell.
is it possible to download latest forge myself to fix it on the server and for me?

[2019-10-04 15:09] Twisted-Code commented on #105
I can't say for certain, but it seems to have been fixed completely at some point (in the mod that is; pack is still using the borked version .46 so Imma probably bump this issue soon). I haven't had any issues with the mod since updating it to build 80 on my private server, and it appears the issue on p455w0rd's tracker was closed on June 17. Good signs :-)

[2019-10-21 16:44] Shybella opened #128 "Pack update"
Hello,

The modpack is great and with over 1 million downloads it hasn't been updated since March. Basic mod update is needed!

Thank you

[2019-10-25 05:00] Gembrace opened #129 "Crash Issue w/ Thaumic Energistics"
* **Modpack Version**: Direwolf20 1.12 ver 2.5

* **Issue**: Tried clicking an essentia phial into the Thaumic Energistics Essentia Monitor and it crashed, now the game crashes on subsequent attempts to load the world. The world loads briefly before instantly freezing.

* **Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/eaeaa926

* **Is it Repeatable?**: Yup, happens ever

[2019-10-25 23:36] #129 closed, assigned to nobody

[2019-11-02 13:31] niosxe07 commented on #118
First when i load the mod pack it dosent show my worlds. After i update the modpack in twitch i could see my worlds, but when i load one off the worlds, it does crash.
And i have the same carsh

modpack: Sky Odyssey

[2019-11-30 21:55] EMatzke1 commented on #114
I'm having the same issue.

I've tried reinstalling the pack and fiddling with my router, but nothing works.

[2020-01-01 03:27] vexx101 opened #130 "What am i looking at randomly turning off, and cannout find a way to turn it back on."
* **Modpack Version**: <1.12 v.2.5.0>

* **Issue**: <During my playthrough on a server, my waila setting i believe from just enough items, has suddenly turned off, and i have yet to find a way to turn it back on.>

* **Mod/s Affected**: <Just Enough Items (JEI)>

* **Known Fix**: <If you know of a fix please let me know! Thanks -->

[2020-01-12 13:37] RogueXD opened #131 "Internal exeption java.io.ioexeption an existing connection was focibly closed by a remote host"
Direwolf20 1.12

When trying to join a server i get this message

Internal exception java.io.ioexception an existing connection was forcibly closed by a remote host

the modpack works fine its just connecting to servers i somehow cant do

it is repeatable

no known working fix i can find

[2020-01-14 00:35] WolfBV commented on #128
Y e s

[2020-02-09 01:43] ozone3101 opened #132 "Crashes when opening my singleplayer world"
* **Modpack Version**: 2.4.0

* **Issue**: Minecraft crashes on opening my world

* **Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/954128fb

* **Is it Repeatable?**: yes

The file was working one day and then it wasnt, but i have no idea why.

[2020-02-21 07:13] Pantsema commented on #132
Have you tried to follow the instructions as mentioned in the log?

Definitly something went wrong with EnderStorage, since mods are over time outdated in the modpack updating these specific mod could perhaps also resolve your issue.

[2020-02-21 07:15] Pantsema commented on #131
In order to investigate this issue you'll need to upload the log files (error log).

[2020-02-21 08:31] Pantsema commented on #130
Source: https://forum.feed-the-beast.com/threads/cant-turn-on-waila.269960/

[2020-02-21 08:49] Pantsema commented on #128
Definitly, I've encountered some issues in gameplay. As per today without any problem the following mods can be updated to the latest versions fixing issues in the pack:

/dank/null
Issues: fixing issues in the packs version with items voiding.
Link: https://www.curseforge.com/minecraft/mc-mods/dank-null/files/2831353
+Libs: https://www.curseforge.com/minecraft/mc-mods/p455w0rds-library/files/2830

[2020-02-23 21:57] ozone3101 commented on #132
Yeah that was the fix, I saw it in the crash log a few hours after I posted this but forgot to remove the post.
Thanks for the help nonetheless.

[2020-03-04 05:18] Akurosun opened #133 "Yellorite not spawning"
Hi yes idk why but yellorite won't spawn in the world at all and idk how to fix it

[2020-04-08 17:29] Sunekaer commented on #133
Hi Akurosun

You need to use Refined Uranium ingot instead

[2020-04-08 17:40] #133 closed, assigned to nobody

[2020-04-08 17:47] #132 closed, assigned to nobody

[2020-04-08 17:48] Sunekaer commented on #131
Hi RogueXD,

Please post latest log from the server and client.

[2020-04-08 17:50] #130 closed, assigned to nobody

[2020-04-10 19:11] Sunekaer commented on #128
Working on it

[2020-04-10 19:18] Sunekaer commented on #124
Hi Nirvaxstiel,

Could you please paste the log again? as the link isn't valid anymore
https://paste.feed-the-beast.com/

[2020-04-10 19:23] Sunekaer commented on #126
Hi

with Refined Storage Conduit you still need to use an importer

[2020-04-10 19:23] #126 closed, assigned to nobody

[2020-04-10 19:26] Sunekaer commented on #122
Hi

From testing in my dev world it works fine, are you sure you build the multiblock correct?
Do you have a log file from where you clicked the block?

[2020-04-10 19:27] Sunekaer commented on #120
please reupload log, as it's not available anymore

[2020-04-10 19:28] Sunekaer commented on #121
please reupload log, as it's not available anymore
Which IF Block is that?

[2020-04-10 19:29] #102 closed, assigned to SnowShock35

[2020-04-10 19:30] #88 closed, assigned to SnowShock35

[2020-04-10 19:30] #87 closed, assigned to SnowShock35

[2020-04-10 19:30] #86 closed, assigned to SnowShock35

[2020-04-10 19:30] #79 closed, assigned to SnowShock35

[2020-04-10 19:30] #68 closed, assigned to SnowShock35

[2020-04-10 19:31] #67 closed, assigned to SnowShock35

[2020-04-10 19:31] #64 closed, assigned to SnowShock35

[2020-04-10 19:33] Sunekaer commented on #119
Hi,
please reupload log, as it's not available anymore

[2020-04-10 19:33] Sunekaer commented on #118
Hi,
please reupload log, as it's not available anymore

[2020-04-10 19:34] Sunekaer commented on #117
Hi
This is an issue with Twitch, sadly not something we can fix

[2020-04-10 19:34] #117 closed, assigned to nobody

[2020-04-10 19:34] Sunekaer commented on #116
Hi MitruMesre,

Is this still an issue?

[2020-04-10 19:37] Sunekaer commented on #113
Hi

If this still is an issue, please report the issue with attached log file from when the issue happened

[2020-04-10 19:37] #113 closed, assigned to nobody

[2020-04-10 19:41] Sunekaer commented on #104
Hi

Not sure what the issue is here?
Could you elaborate please?

[2020-04-10 19:59] BlizzBlu commented on #120
I honestly forgot I opened this issue,

The problem was that ReAuth refused to connect to the servers, leaving me offline and thus without my skin.
I never would've figured this out if I didn't play multiplayer at least a few times, since I was forced to reconnect before I could play on any server, and ReAuth's button does not show up in the Singleplayer menu.
The issue has disappeared since then,

[2020-04-10 20:02] Sunekaer commented on #120
Good to know, thanks for the reply Blaui

[2020-04-10 20:02] #120 closed, assigned to nobody

[2020-04-11 02:25] Sunekaer opened #134 "Wrong version number in mainmenu"
Wrong version number in mainmenu

[2020-04-11 11:26] Sunekaer commented on #128
2.6.0 available on the FTB App

[2020-04-11 11:26] #128 closed, assigned to nobody

[2020-04-11 11:26] #110 closed, assigned to nobody

[2020-04-11 11:26] #112 closed, assigned to nobody

[2020-04-11 11:26] #127 closed, assigned to nobody

[2020-04-11 11:27] Sunekaer commented on #125
Please test with 2.6.0 which is available on the FTB App

[2020-04-11 11:27] Sunekaer commented on #115
Please test with 2.6.0 which is available on the FTB App

[2020-04-11 11:27] Sunekaer commented on #114
Please test with 2.6.0 which is available on the FTB App

[2020-04-11 11:27] Sunekaer commented on #109
Please test with 2.6.0 which is available on the FTB App

[2020-04-11 11:28] Sunekaer commented on #111
Please test with 2.6.0 which is available on the FTB App

[2020-04-11 15:50] AllHopeLost commented on #125
Do you mean the Twitch app , or is there another launcher/software I can download from ?.
The most recent version on the twitch launcher is 2.5.0

[2020-04-11 16:15] Shybella commented on #104
No issue was a suggestion for people less than 6GB of system memory and settings we found worked very well.

Are you taking over snowshocks position?

[2020-04-11 20:17] Sunekaer commented on #125
The FTB App
Can be downloaded at feed-the-beast.com

[2020-04-11 20:19] AllHopeLost commented on #125
Attemping to download the Server pack brings be to a white page with just this text

{"status":"error","message":"Authorization failed.","userKey":null}

[2020-04-11 20:21] Sunekaer commented on #104
Thanks for the info.
I'm just assisting

[2020-04-11 20:21] #104 closed, assigned to nobody

[2020-04-11 20:23] Sunekaer commented on #125
Okay the app is new, could you report it at https://github.com/FTBTeam/FTB-App/issues with version of the pack and OS

[2020-04-11 20:35] AllHopeLost commented on #125
Posted https://github.com/FTBTeam/FTB-App/issues/86

[2020-04-11 20:39] Sunekaer commented on #125
Thanks a lot

[2020-04-14 15:59] fratty75 opened #135 "Dank Null voiding random items"
Modpack Version: <FTB DW20 1.12.2 v2.5.0

Issue: The dank null (all tiers) seem to be voiding items that are not set to be collected or voided.

[2020-04-14 22:29] lorismus commented on #131
I do have the same problem. Server und client log f.
[latest.log](https://github.com/FTBTeam/FTB-Presents-Direwolf20-1.12/files/4478078/latest.log)
[latest.log](https://github.com/FTBTeam/FTB-Presents-Direwolf20-1.12/files/4478073/latest.log)

[2020-04-14 22:30] lorismus commented on #131
Sry here we go
[2020-04-14-1.log](https://github.com/FTBTeam/FTB-Presents-Direwolf20-1.12/files/4478083/2020-04-14-1.log)

[2020-04-14 22:34] RogueXD commented on #131
sorry i cant help anymore since the server i was trying to join has since closed and ive stopped having issues,

[2020-04-14 23:49] Sunekaer commented on #131
Thanks, can you test with version 2.6.0? available on the FTB App, i added a mod there hopefully should fix it @lorismus

No problem @RogueXD

[2020-04-20 04:20] agrudsky commented on #125
I'm still having this problem as of pack version 2.6.0.

[2020-04-29 23:54] SwifferJ opened #136 "Sound Muffler doesn't muffle Thermal Expansion Saw Mill"
* **Modpack Version**: v2.5.0

* **Issue**: Sound Muffler doesn't muffle Thermal Expansion Saw Mill

[2020-04-30 20:38] Nuklearfps opened #137 "Game Crashes When Trying to Launch"
When trying to launch the game I get an error code:

"The game crashed whilst there was a severe problem during mod loading that has caused the game to fail
Error: net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from CraftTweaker2 (crafttweaker)"

Version: 2.5.0
Unsure if it repeatable
Mods affected: Craft Tweaker 2

[2020-04-30 20:45] #137 closed, assigned to nobody

[2020-05-02 18:01] OvaKuhode opened #138 "Not able to join any servers"
Modpack verision: 2.5.0

Issue: Whenever i try to join any server i just get disconected. I have given it 7gb ram and my computer should be able to run this mod. I am using twitch launcher.

Repeatable: Yes, happens everytime i try to join a server

If anyone have a fix for this it would de amazing if you told me about it.

Fix: I instaled it in the ftb launcher and it worked.

[2020-05-02 18:44] #138 closed, assigned to nobody

[2020-05-24 11:03] hduelme opened #139 "Big Reactors CoFH World yellorite Ore Fix"
* **Modpack Version**: 2.6.0

* **Issue**: The Server reports an CoFH World Error on startup.
![Bildschirmfoto vom 2020-05-24 12-51-25](https://user-images.githubusercontent.com/46139144/82752303-58a7e780-9dbd-11ea-88d7-4a314bcf2c8c.png)
This may stop generating the ore.

* **Is it Repeatable?**: This appears on every start up (Client and Server).

* **Known Fix**: To fix the problem, the blocknam

[2020-06-01 15:53] #111 closed, assigned to nobody

[2020-06-01 15:53] #114 closed, assigned to nobody

[2020-06-01 15:53] #115 closed, assigned to nobody

[2020-06-01 15:53] #116 closed, assigned to nobody

[2020-06-01 15:53] #118 closed, assigned to nobody

[2020-06-01 15:54] #119 closed, assigned to nobody

[2020-06-01 15:54] #109 closed, assigned to nobody

[2020-06-01 15:54] #121 closed, assigned to nobody

[2020-06-01 15:54] #122 closed, assigned to nobody

[2020-06-01 15:54] #124 closed, assigned to nobody

[2020-06-01 15:54] #131 closed, assigned to nobody

[2020-06-01 15:55] Sunekaer commented on #125
#105

[2020-06-01 15:55] #125 closed, assigned to nobody

[2020-06-01 15:56] Sunekaer commented on #135
#105

[2020-06-01 15:56] #135 closed, assigned to nobody

[2020-06-01 16:30] #139 closed, assigned to nobody

[2020-06-01 16:30] #134 closed, assigned to Sunekaer

[2020-06-18 14:22] LmaoYeet69 opened #140 "Blood Magic and Gravestone Mod"
So i was testing the blood magic mod and accidentally killed myself with a sacrificial dagger. I went back to where i died and there was no grave. I searched above and below where i died with no luck. Im playing on a public server so i don't have any admin commands.

Im playing on 1.12.2

[2020-06-18 17:56] #140 closed, assigned to nobody

[2020-07-11 20:04] XxRosiexX opened #141 "Morph mod issue?"
* **Modpack Version**: 2.7.0

* **Issue**: When using some of the morphs a white cube forms, is quite far away from the player itself but moves around witht he player. Then when transforming back to default form the player skin well breaks. Tested with & without optifine. Bug works both times.

* **Link to Log or Crash File Paste**: N/A

* **Is it Repeatable?**: Yes, All of my staff members and so

[2020-10-03 15:41] HELP1111111 opened #142 "Morph flying issue"
Im playing direwolf1.12.2 and when i morph into a bat for some reason i can fly is it because of the version or what??

pls email the answer or something....

[2020-10-03 19:20] manmaed commented on #142
To Help us please provide the pack version you are playing on

[2020-10-06 19:38] #142 closed, assigned to nobody

[2020-12-25 21:43] notnot-nick opened #143 "RFTools Spawner Broken"
* **Modpack Version**: 2.8.0
* **Issue**: The RFTools Spawner does not accept living matter

* **Is it Repeatable?**: Yes, default settings, will not accept living matter.

* **Mod/s Affected**: RFTools

* **Known Fix**: Resetting the rftools.cfg, it's a known issue on their github caused by an invalidated config due to an RFTools update. https://github.com/Y0ungSandwich/Mech-Magic-1.12.2/issues/7

[2020-12-31 10:13] escape444 opened #144 "environmental tech tier 1 miner"
hi the environmental tech miner tier 1 after he builds the structure when i want to open the miner
it just shuts down the mc completely same in a server just crashes it
version 1.1.2 and 1.2.0 both same problem

no crash reports to paste

hope it helps somehow

escape444

[2020-12-31 10:15] #144 closed, assigned to nobody

[2021-01-01 05:25] djacicd opened #145 "Duplicating speed upgrades"
* **Modpack Version**: 1.2

* **Issue**: Speed upgrade duplication (it also destroys first crafting pattern if there's any)

* **Link to Log or Crash File Paste**: ///

* **Is it Repeatable?**: Yes

* **Mod/s Affected**: Extrastorage

* **Known Fix**: ///

* **Youtube Video**: https://www.youtube.com/watch?v=h5fLtL2axkM

[2021-01-05 00:02] wormodyssey opened #146 "rats + mekanism = BAD."
ok so the rats auto curdler when you put a mekanism basic liquid tank in it full of milk, crashes the game and uh you have to disable RATS and delete all of you hard-earned, and bread, rats.

[2021-01-15 15:53] matchley-gss opened #147 "Powah - Thermo Generator (Niotic) does not work."
* **Modpack Version**: 1.16 - 1.3.1

* **Issue**: I've been going down the path of the Thermo Generators (I believe formally known as ThermoElectric Generators, but I guess changed the name since the same name exists in ImmersiveEngineering).  The Basic, Standard, Hardened, and Blazing all have worked flawlessly.  Water on bottom being fed by a pump, and lava in back.  However, I just upgraded the

[2021-01-15 15:54] #147 closed, assigned to nobody

[2021-01-15 23:31] Ophelian opened #148 "Refined Storage External Storage of liquids server crash"
* **1.3.1**:

* **The Server is crashing since 1.2 with refined storage external storage of fluids **:

* **https://pastebin.com/uXm3ba09**:

* **We are not sure if we can replicate the issue so far**:

* **Refined Storage with Extra storage fluid disk**:

* **So far we are investigating by deleting items in the world**:

[2021-01-15 23:44] #148 closed, assigned to nobody

[2021-01-15 23:44] Ophelian commented on #148
Wrong version, my bad, we're on 1.16.

[2021-01-28 02:57] briggsmech opened #149 "killing multiple skeletons causes game crash"
* **Modpack Version**: 1.5.1

* **Issue**:  I set up a mob farm for skeletons. If I try to kill more than 1 at a time the game crashes

* **Link to Log or Crash File Paste**: https://paste.feed-the-beast.com/view/48916d53

* **Is it Repeatable?**: yes works every time

* **Mod/s Affected**: not shure
* **Known Fix**:

[2021-01-31 21:17] briggsmech commented on #149
manualy updating Blood Magic worked great. Thanks

[2021-01-31 21:17] #149 closed, assigned to nobody

[2021-04-27 17:41] 016Nojr commented on #146
https://github.com/FTBTeam/FTB-Presents-Direwolf20-1.16 is the repo for the pack, this is the 1.12 version.

[2021-04-27 17:41] #146 closed, assigned to nobody

[2021-04-27 17:42] 016Nojr commented on #145
https://github.com/FTBTeam/FTB-Presents-Direwolf20-1.16 is the repo for the pack, this is the 1.12 version.

[2021-04-27 17:42] #145 closed, assigned to nobody

[2021-04-27 18:13] 016Nojr commented on #141
Morph mod has been updated to the latest version in Pack version 2.8.0. If it wasnt fixed there it wont be fixed as the mod isnt being maintained for 1.12 anymore.

[2021-04-27 18:35] #143 closed, assigned to nobody

[2021-04-27 18:37] #106 closed, assigned to SnowShock35

[2021-04-27 18:39] 016Nojr commented on #105
I cant reproduce this with version 1.7.101, so hopefully we're all good

[2021-04-27 18:39] #105 closed, assigned to SnowShock35

[2021-04-27 18:43] 016Nojr commented on #92
Seems to be fixed now, I cant reproduce it.

[2021-04-27 18:43] #92 closed, assigned to SnowShock35

[2021-04-27 18:44] 016Nojr commented on #75
Linked Mod issue has been closed.

[2021-04-27 18:44] #75 closed, assigned to SnowShock35

[2021-04-27 18:47] #71 closed, assigned to SnowShock35

[2021-04-27 19:15] 016Nojr commented on #44
Mods related arent maintained for 1.12 anymore, cant fix.

[2021-04-27 19:15] #44 closed

[2021-04-27 19:16] 016Nojr commented on #136
Mods affected arent maintained anymore, cant fix.

[2021-04-27 19:16] #136 closed, assigned to nobody

[2021-04-27 19:16] 016Nojr commented on #69
Mods affected arent maintained anymore, cant fix.

[2021-04-27 19:16] #69 closed, assigned to SnowShock35

[2021-04-27 19:22] 016Nojr commented on #72
Mods affected arent maintained anymore, cant fix.

[2021-04-27 19:22] #72 closed, assigned to SnowShock35

[2021-04-27 19:23] #141 closed, assigned to nobody

[2021-04-27 19:24] 016Nojr commented on #108
Works on my end, so unlikely an issue we're able to fix, if it still excists.

[2021-04-27 19:24] #108 closed, assigned to SnowShock35

[2021-05-08 03:36] Sacredspawn opened #150 "Ender IO Experience Obelisk isn't accepting exp manually."
* **Modpack Version**:  2.9.0

* **Issue**: When using the ender IO Experience obelisk, it is possible for it to pull from nearby inventories, but the greatest function of it, the ability to manually insert experience isn't functioning. anything other than manual experience insertion works just fine.

* **Link to Log or Crash File Paste**: I don't have a crash file as the game didn't crash

* **Is

[2021-05-18 18:54] CitiesXL2815 commented on #150
it's been Fixed in Dev on EnderIO https://github.com/SleepyTrousers/EnderIO/issues/5487

[2021-06-02 01:26] 016Nojr opened #151 "NEW ISSUE TRACKER https://www.feed-the-beast.com/support"
Head over to https://www.feed-the-beast.com/support and submit your issue there, issues submitted here wont be read.

[2021-06-02 01:28] 016Nojr commented on #150
When the next pack update is released it will be fixed if the mod has been updated by then

[2021-06-02 01:28] #150 closed, assigned to nobody

[2021-09-24 20:02] MichaelHillcox opened #152 "FTB Presents-Direwolf20-1.12 Issue tracker is now closed, use https://github.com/FTBTeam/FTB-Modpack-Issues"
# This issue tracker is now closed!

Please use https://github.com/FTBTeam/FTB-Modpack-Issues for any new modpack issues :+1: